@media only screen and (max-width: 1200px) {
	.login--actions .col-sm-6 {
	    font-size: 10px;
	}
	.register--button, .login--button {
    	font-size: 13px;
	}
	.home--login .fa-envelope, .home--login .fa-lock {
		font-size: 12px!important;
	}
	.newsfeed--header {
    	font-size: 14px;
	}
	.newsfeed--header .fa-clock-o {
    	font-size: 30px;
	}
	.profile--picture {
	    width: 90px;
	    height: 90px;
	    margin-top: -40px;
	}
	.newsfeed--name {
   		margin-left: -20px;
   		margin-right: 20px;
   		font-size: 23px;
   	}
   	.newsfeed--progress , .newsfeed--progress2 {
   		width: 120%;
   	}
   	.newsfeed--footer input[type="button"]{
   		float: inherit;
   		left: 20px;
    	position: relative;
   	}
   	.newsfeed--body {
   		background-position-x: -180px;
   	}
   	/*.home--profile--picture img {
   		height: 80%;
   	}
   	.home--header .fa-clock-o {
    	font-size: 23px;
	}
	.home--header {
    	font-size: 13px;
	}*/

	.home--header {
		font-size: 14px;
		width: 100%;
		margin-left: 0;
	}
	.home--header div:nth-child(1),.home--header div:nth-child(2) {
		display: inline-table;
	}
	.home--header > div:nth-child(1){
		padding-left: 0px!important;
	}
	.home--duration {
		display: inline-table;
	    float: right;
	    top: 25px;
	    padding-right: 25px;
	}
	.profile--picture img {
		top: 40px;
	}
	.home--charge {
		position: absolute;
	}
	.home--header .home--charge {
		width: 50%;
		padding-left: 0;
	}
	.home--name {
		font-size: 20px;
    	margin-left: -14px;
    	margin-right: -18px;
	}
	.home--likes ul a li {
    	font-size: 18px;
	}
	.home--body {
		margin-top: 55px;
		margin-left: 2%;
		margin-right: 2%;
	}
	.home--footer .redflag--img {
		display: -webkit-inline-box;
	}
	.home--footer .home--support {
		display: inline-flex;
		width: 65%;
	}
	.home--footer, .home--persons, .home--share--icons {
		margin-left: 2%;
    	margin-right: 2%;
	}
	.home--content {
		width: 100%;
		margin-left: 0!important;
	}
	.home--persons div > div{
		display: -webkit-inline-box;
		margin-right: 2%;
	}
	.home--share--icons > div {
		display: -webkit-inline-box;
		margin-right: 2%;
	}
	.home--goals {
		top: 18px;
    	line-height: 28px;
    	margin-left: 0px;
	}
	.home--content {
    	margin-top: 15%;
	}
	.home--footer input[type="button"] {
		font-size: 15px;
	}
	.input--percent label {
		font-size: 15px;
	}
	.home--problem, .home--proposal {
		font-size: 15px;
	}
	.home--footer .redflag--img img {
    	width: 33px;
    	height: 33px;
	}
	.home--progress , .home--progress2 {
   		width: 100%;
   	}
   	.home--header .newsfeed--duration {
   		float: right;
   		width: 46%;
   	}
   	.home--header .newsfeed--goals {
   		float: right;
   		padding-right: 0;
   		top: 30px;
   		width: 50%;
   	}
   	.home--charge {
   		margin-top: 64px;
   	}
   	.home--progress {
   		margin-bottom: 5px;
   	}
   	.home--proposals--body {
   		margin-top: 10%;
   	}
   	.home--profile--picture img {
   		top: 45px;
   	}
   	#modal_proposal2 .modal-body {
    	height: 810px;
    }
}
@media only screen and (max-width: 1024px) {
	#modal_sign .modal-dialog {
    	top: 15%;
    	left: 15%;
	}
	.nav--style ul {
	    margin-left: 5%;
	}
	.newsfeed--progress , .newsfeed--progress2 {
   		width: 110%;
   	}
}
@media only screen and (max-width: 991px) {
	.newsfeed--progress , .newsfeed--progress2 {
   		width: 100%;
   	}
	.login--actions .col-sm-6 {
	    font-size: 7px;
	}
	.newsfeed--duration img {
    	width: 20px;
	}
	.login--actions .col-sm-6:nth-child(2) {
	    padding: 13px 0 0 0;
	}
	.register--button, .login--button {
	    height: 26px;
	    padding: 0 5px;
	    font-size: 10px;
	}
	.home--register h4 {
	    padding-top: 17%;
	    font-size: 14px;
	}
	.newsfeed--body {
		background-size: cover;
   	    background-position-x: -340px;
	}
	.profile--picture {
    	width: 80px;
    	height: 80px;
   		margin-top: -20px;
	}
	.newsfeed--name {
    	margin-left: -9px;
    	margin-right: 25px;
    	font-size: 19px;
    	top: 20px;
	}
	.newsfeed--header {
    	font-size: 12px;
	}
	.home--followers {
		width: 75%;
	}
	.home--share--icons div:first-child{
		width: 70%;
	}
	.newsfeed--goals {
		margin-left: -17px;
    	top: 3px;
    	line-height: 21px;
	}
	.newsfeed--duration {
    	top: 9px;
    	left: 10px;
	}
	.newsfeed--persons .fa-check, .newsfeed--persons .fa-close {
	    font-size: 34px;
	    position: relative;
	    top: 6px;
	}
	.newsfeed--share--icons img {
    	width: 60px;
	}
	.newsfeed--share--icons img:nth-child(2) {
    	width: 50px!important;
	}
	.newsfeed--share--icons img:nth-child(3) {
		width: 47px!important;
	}
	.newsfeed--followers p {
    	font-size: 16px;
	}
	.newsfeed--share i.fa-share-alt {
   		font-size: 25px;
   	}
   	.newsfeed--share--icons img:nth-child(4) {
    	width: 45px;
	}
	.home--header .newsfeed--duration {
    	width: 30%;
    	padding-right: 15px;
	}
	.home--header {
		margin-top: 20px;
	}
	.home--content--logged .newsfeed--support {
		width: 70%;
		padding-left: 0px!important;
	}
	.home--content--logged .input--percent, .home--content--logged .input--percent label{
		font-size: 12px!important;
	}
	.home--proposals--body {
		background-position-x: -292px;
	}
}
@media only screen and (max-width: 950px) {
	.modal-dialog {
	    width: 550px!important;
	}
	#modal_proposal1, #modal_proposal2, #modal_proposal3, #modal_sign {
		overflow-x: scroll;
	}
	#modal_proposal2 .modal-body {
		height: 845px;
	}
	#modal_sign .modal-body {
    	height: 390px;
	}
}
@media only screen and (max-width: 870px) {
	.nav--style ul {
	    margin-left: 3%;
	}
	.modal-dialog {
	   left: 13%!important;
	}
}
@media only screen and (max-width: 767px) {
	.newsfeed--body {
   	    background-position-x: -239px;
	}	
	.menu--mobile--icon {
		display: block;
	}
	.newsfeed--duration img {
    	width: 27px;
	}
	.nav--style .primary--header {
   		padding-left: 0%;
   		left: 35%;
   	}
	.home--login, .home--register {
		width: 100%;
	}
	.login--actions .col-sm-6 {
		display: inline-block;
	}
	.login--actions .col-sm-6:nth-child(2) {
		float: right;
	}
	.home--register {
		overflow: hidden;
	}
	.home--register h4 {
		padding-top: 4.5%;
	}
	.nav--style .container {
		display: inline-block;
		width: 100%;
	}
	.nav--style, .nav--style .navbar-header, .nav--style ul {
		display: inline-block;
	}
	.nav--style ul {
		margin-left: 0;
	    float: left;
	    position: relative;
	    margin: 0;
	    padding: 0;
	    z-index: 7;
	    width: 100%;
	    background: #3faf2e;
	}
	.nav--style ul li a {
		display: none;
		border: 1px solid;
		height: 100%;
		text-align: center;
    	width: 100%;
	}
	.home--content--left h1 {
		font-size: 60px;
	}
	.home--content--left h3 {
		font-size: 25px;
	}
	.home--login .fa-envelope, .home--login .fa-lock {
    	font-size: 16px!important;
    	padding-top: 12px!important;
    	padding-left: 12px!important;
	}
	.register--button, .login--button {
	    height: 34px;
	    padding: 0px 5px;
	    font-size: 17px;
	}
	.login--actions .col-sm-6 {
    	font-size: 12px;
	}
	.login--actions .col-sm-6:nth-child(2) {
    	padding: 6px 0 0 0;
	}
	#menu--mobile {
		display: none;
	}
	.newsfeed--header {
		font-size: 17px;
		width: 90%;
		margin-left: 3%;
	}
	.newsfeed--header div:nth-child(1),.newsfeed--header div:nth-child(2) {
		display: inline-table;
	}
	.newsfeed--header > div:nth-child(1){
		padding-left: 15px!important;
	}
	.newsfeed--duration {
		display: inline-table;
	    float: right;
	    top: 25px;
	    padding-right: 25px;
	}
	.home--header .newsfeed--duration {
	    top: 9px;
	    padding-left: 0;
	}
	.profile--picture img {
		top: 40px;
	}
	.newsfeed--charge {
		position: absolute;
		margin-top: 20px;
	}
	.newsfeed--header .newsfeed--charge {
		width: 50%;
	}
	.newsfeed--name {
		font-size: 20px;
    	margin-left: -14px;
    	margin-right: -18px;
	}
	.newsfeed--likes ul a li {
    	font-size: 18px;
	}
	.newsfeed--body {
		margin-top: 55px;
		margin-left: 2%;
		margin-right: 2%;
	}
	.newsfeed--footer .redflag--img {
		display: -webkit-inline-box;
	}
	.newsfeed--footer .newsfeed--support {
		display: inline-flex;
		padding-left: 30px!important;
		width: 65%;
	}
	.newsfeed--footer, .newsfeed--persons, .newsfeed--share--icons {
		margin-left: 2%;
    	margin-right: 2%;
	}
	.newsfeed--content {
		width: 100%;
		margin-left: 0!important;
	}
	.newsfeed--persons div > div{
		display: -webkit-inline-box;
		margin-right: 2%;
	}
	.newsfeed--share--icons > div {
		display: -webkit-inline-box;
		margin-right: 2%;
	}
	.newsfeed--goals {
		top: 18px;
    	line-height: 28px;
    	margin-left: 0px;
	}
	.newsfeed--content {
    	margin-top: 15%;
	}
	.input--percent label {
		font-size: 15px;
	}
	.newsfeed--problem, .newsfeed--proposal {
		font-size: 15px;
	}
	.newsfeed--footer .redflag--img img {
    	width: 33px;
    	height: 33px;
	}
	a.add--proposal--button {
		margin-right: 0;
	}
	.home--header {
    	font-size: 16px;
    }
    .home--charge {
    	margin-top: 0px;
	}
	.home--header .newsfeed--goals {
		top: -3px;
	}
	.home--content--proposal {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.home--progress {
    	margin-bottom: 10px; 
	}
	.home--proposals--body {
    	margin-top: 2%;
    	background-position-x: 0px;
	}
	.home--voted h2 {
    	margin-top: 20px;
	}
}
@media only screen and (max-width: 720px) {
	.newsfeed--body {
    	background-position-x: -305px;
	}
	 .home--proposals--body {
	 	background-position-x: -65px;
	 }
	.modal-dialog {
		left: 7%!important;
	}
}
@media only screen and (max-width: 620px) {
	.newsfeed--header .newsfeed--charge {
    	width: 40%;
	}
	.modal-dialog {
    	left: 2%!important;
	}
	.neewsfeed--moreinfo {
		padding-left: 0!important;
		padding-right: 0;
    	right: 15px;
	}
	.newsfeed--footer .newsfeed--support {
		padding-left: 0!important;
	}
	.input--percent {
		position: relative;
		width: 50%;
		margin: 0!important;
		left: 30%;
	}
	.newsfeed--support {
		margin-left: -7px;
	}
}
@media only screen and (max-width: 600px) {
	.home--proposals--body {
		background-position-x: -125px;
	}
	.nav--style .primary--header {
    	left: 30%;
	}
}
@media only screen and (max-width: 580px) {
	.newsfeed--body {
    	background-position-x: -350px;
	}
}
@media only screen and (max-width: 560px){
	.input--percent {
	    width: 60%;
	    left: 25%;
	}
	.newsfeed--share--icons {
		padding-right: 0;
	}
	.newsfeed--share--icons > div {
		margin-right: 0;
	}
	.newsfeed--content {
    	margin-top: 20%;
	}
}
@media only screen and (max-width: 535px) {
	.newsfeed--body {
    	background-position-x: -410px;
	}
	.home--proposals--body {
    	background-position-x: -200px;
	}
	.newsfeed--button {
		width: 110px;
		height: auto;
	}
}
@media only screen and (max-width: 510px){
	.newsfeed--support {
    	margin-left: -27px;
	}
	.input--percent {
    	width: 70%;
	}
}
@media only screen and (max-width: 497px){
	.newsfeed--goals {
	    font-size: 16px;
	}
	.newsfeed--header {
	    width: 100%;
	    margin-left: 0;
	}
	.home--header {
    	margin-top: 40px;
	}
	.nav--style .primary--header {
    	left: 20%;
	}
}
@media only screen and (max-width: 479px) {
	.home--content--left h1 {
		font-size: 50px;
	}
	.home--content--left h3 {
		font-size: 20px;
	}
	.home--content--left {
	    margin-top: 12%;
	}
	.home--register h4 {
    	padding-top: 8%;
    	font-size: 17px;
	}
	.home--login .fa-envelope, .home--login .fa-lock {
	    font-size: 14px!important;
	    padding-top: 9px!important;
	    padding-left: 10px!important;
	}
	.newsfeed--name {
    	margin-left: -24px;
	}
	.newsfeed--goals {
    	font-size: 14px;
	}
	.newsfeed--duration {
		font-size: 15px;
	}
	.input--percent label {
    	font-size: 13px;
	}
	.newsfeed--footer input[type="button"] {
    	width: 95px;
	}
	.newsfeed--button {
    	padding: 6px 10px;
	}
	a.add--proposal--button {
		padding: 2px 7px 5px 4px!important;
	}
	.newsfeed--likes ul a li {
    	font-size: 16px;
	}
	.primary--header a {
    	width: 70%;
	}
}
@media only screen and (max-width: 420px) {
	.home--followers {
		width: 100%;
	}
	.home--share--icons div:first-child{
		width: 100%;
	}
}
@media only screen and (max-width: 410px) {
	.newsfeed--header .newsfeed--charge, .home--header .home--charge {
    	width: 45%;
	}
	.newsfeed--persons > div, .home--persons > div {
		padding: 0;
	}
	.newsfeed--likes, .home--likes {
		padding-right: 0;
	}
	.newsfeed--persons div > div, .home--persons div > div {
   		margin-left: -8px;
   		margin-right: 0;
	}
	.input--percent {
    	font-size: 12px!important;
	}
	.newsfeed--button {
    	padding: 4px 5px;
	}
	.newsfeed--footer .redflag--img img {
    	width: 30px;
    	height: 30px;
	}
	.newsfeed--footer .redflag--img{
		width: 30px;
	}
}
@media only screen and (max-width: 470px) {
	.newsfeed--body {
    	background-position-x: -468px;
	}
	.home--proposals--body {
    	background-position-x: -245px;
	}
}
@media only screen and (max-width: 410px) {
	.newsfeed--body {
    	background-position-x: -525px;
	}
	.home--proposals--body {
    	background-position-x: -335px;
	}
}
@media only screen and (max-width: 400px) {

	.newsfeed--footer input[type="button"] {
	    width: 87px;
	}
	.newsfeed--header .newsfeed--charge{
		padding-left: 0;
	}
	.newsfeed--header .newsfeed--charge {
    	width: 42%;
	}
	.newsfeed--goals {
		padding-right: 0;
	}
	.newsfeed--duration {
    	padding-right: 10px;
	}
	.newsfeed--goals {
    font-size: 13px;
	}
	.newsfeed--persons .fa-check, .newsfeed--persons .fa-close {
    	font-size: 30px;
	}
	.newsfeed--likes ul a.last--liked li {
    	font-size: 12px;
	}
	.home--name {
		padding-left: 0;
    	top: 7px;
	}
	.home--header .newsfeed--duration {
    	width: 35%;
    }
    .home--header .newsfeed--goals {
    	padding-left: 0;
    	width: 60%;
	}
	.home--profile--picture {
		margin-left: -20px;
	}
	.home--voted h2 {
    	margin-top: 40px;
	}

}
@media only screen and (max-width: 370px){
	.input--percent label {
	    font-size: 11px;
	}
	.newsfeed--footer input[type="button"] {
    	width: 75px;
	}
	.newsfeed--button {
    	padding: 5px 5px;
	}
	.input--percent {
    	width: 80%;
    	left: 22%;
	}
	.newsfeed--duration {
	    padding-left: 0;
	}
	.newsfeed--header .fa-clock-o {
	    font-size: 25px;
	}
	.newsfeed--header .newsfeed--charge {
    	width: 46%;
	}
	.newsfeed--header > div:nth-child(1) {
    	padding-left: 0px!important;
	}
	.nav--style .primary--header {
    	left: 10%;
	}
}
@media only screen and (max-width: 350px){
	.newsfeed--header .newsfeed--charge {
	    width: 45%;
	    margin-left: -10px;
	}
	.newsfeed--content {
	    margin-top: 25%;
	}
}
@media only screen and (max-width: 340px){
	.newsfeed--header .newsfeed--charge {
	    width: 48%;
	    margin-left: -14px;
	}
	.newsfeed--persons .fa-check, .newsfeed--persons .fa-close {
	    font-size: 25px;
	}
	.home--header .newsfeed--duration {
    	font-size: 12px;
	}
	.home--header .home--charge {
    	margin-left: -12px;
	}
	.home--voted, .select--options {
    	font-size: 15px;
    }
    .home--select {
    	width: 90%;
    }
}
@media only screen and (max-width: 330px){
	.newsfeed--content > div{
		padding: 0;s
	}
}
@media only screen and (max-width: 320px) {
	.home--login .fa-envelope, .home--login .fa-lock {
    	padding-top: 7px!important;
    	padding-left: 10px!important;
	}
}