.home--proposals--body{
    position: relative;
}
.home--proposals--body > div:nth-child(1){
    margin-top: 12px;
}
.home--proposals--body > div:nth-child(2){
    position: absolute;
    top: 220px;
}
.select--options img#rejected{
    /*width: 30px!important;
    height: 30px!important;*/
}
.home--name {
    left: 40px;
    top: 15px;
}
.newsfeed--duration{
    top: 15px;
    /*left: 15px;*/
    padding: 0;
    margin: 0px;
    width: 10%;
}
.newsfeed--duration p{
    margin: 0 0 0px;
}
.home--name p{
    font-size: 13px;
}
.newsfeed--goals {
    right: 0px;
    top: 2px;
}
.home--charge {
    top: 8px; 
    left: 30px;
    margin-left: -10px;
}
.home--proposals--body {
    margin-top: 0%; 
}
.home--profile--picture {
    margin-top: -15px;
    left: 0px;
}
.home--proposals--body {
    height: 360px;
}
.input--percent {
    margin-left: 160px;
}
#more--info--modal {
    width: 98%;
}
.newsfeed--footer .redflag--img img {
    width: 12px;
    margin-top: -22px;
}
.newsfeed--footer .redflag--img {
    width: 30px;
    margin-left: 0px;
    z-index: 1;
}
.home--share {
    top: -45px;
    margin-top: 0px;
    left: -10px;
    margin-bottom: 0px;
    position: relative;
}
.neewsfeed--moreinfo{
    z-index: 1;
}
.newsfeed--persons div{
    padding: 0px;
}
.newsfeed--persons > div:nth-child(2){
    margin-top: -10px;
}
.newsfeed--persons {
    top: -50px;
}
.newsfeed--likes ul {
    padding-left: 0px;
}
.newsfeed--likes ul a:nth-child(1) li{
    margin-left: 40px;
}
.home--share--icons img {
    width: 50px;
}
.home--share--icons img:nth-child(2),
.home--share--icons img:nth-child(3){
    width: 45px!important;
    height: 45px;
}
.home--voted {
    margin-bottom: 0%;
}
.home--button {
    margin-left: -20px!important;
}

.home--charge2{
    top: 0px;
}
.newsfeed--goals2,
.newsfeed--goals3{
    margin-top: -7px;
    right: -45px;
}
.newsfeed--goals3{
    margin-top: 0px; 
}
.home--proposals--body2 {
    height: 360px;
}
.home--share2 {
    top: -100px;
}
.newsfeed--persons2 {
    top: -10px;
}
.newsfeed--problem, .newsfeed--proposal {
    margin-top: 0px;
}
.icons2 {
    top: -25px;
    left:10px;
    position: relative;
}
.redflag2{
    top: 20px;
    margin-left: 50px;
    position: relative;    
}
.neewsfeed--moreinfo2{
    padding: 0px;
}
.concern__div {
    top: 0px; 
}
.idea--action--buttons div span{
    font-size: 25px;
}

#loader--general{
    position: fixed;
    z-index: 999;
    overflow: show;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    right: 0;
    background-color: rgba(204, 204, 204, 0.46);
}
#loader--general .spinner{
    margin: 20% auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}
.participant__duration {
    width: 11%;
}
.icons2__participant{
    top: 0;
}
.home--header2 {
    min-height: 63px;
}