@font-face {
    font-family: lato_regular;
    src: url("/static/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: lato_bold;
    src: url("/static/fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: uni_sans_heavy;
    src: url("/static/fonts/Uni_Sans_Heavy.ttf");
}
@font-face {
    font-family: uni_sans_heavy_italic;
    src: url("/static/fonts/Uni-Sans-Heavy-Italic.otf");
}
@font-face {
    font-family: uni_sans_thin;
    src: url("/static/fonts/Uni-Sans-Thin.otf");
}
@font-face {
    font-family: uni_sans_thin_italic;
    src: url("/static/fonts/Uni-Sans-Thin-Italic.otf");
}
input[type=text], input[type=password], select {
	font-size: 12px!important;
	background-color: #e5e6e8!important;
}
html {
  overflow-y: scroll;
}
body {
  font-family: lato_regular;
  max-width: 1360px;
}
.input--top {
  height: 6.5%;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-bottom: none;
}
.input--bottom {
  height: 6.5%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-bottom: 2px solid #dadbdd;
  border-top: none; 
}
.input--middle {
  height: 6.5%;
  border-radius: 0px;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-top: none; 
  border-bottom: none;
}
.nav--style {
	background-color: #3faf2e;
	min-height: 10px!important;
  	height: 38px;
}
.nav--style a{
	color: #fff;
	height: 20px;
	padding: 9px 15px!important;
}
.nav--style .navbar-header a{
	letter-spacing: 1.5px;
	font-family: uni_sans_heavy;
	position: relative;
    width: auto;
}
.home--content {
	background-image: url("/static/images/meeting.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.home--content--left {
	color: #fff;
	margin-top: 8%;
	text-shadow: 0px 0px 3px black;
}
.home--content--left h1{
	font-size: 70px;
	letter-spacing: 1px;
	margin-bottom: 5.8%;
}
.home--content--left h3{
	font-size: 30px;
	line-height: 1;
	margin-bottom: 4%;
}
.home--login, .home--register {
	background-color: #f0f1f3;
	padding: 5% 7%;
    min-width: 236px;
    max-width: 236px;
	border-top: solid 10px #3faf2e;
}
.home--register {
	border-top: none;
}
.home--register input[name=fullname_r]{
	margin-top: 13%;
}
.home--register h4{
  background-color: #3faf2e;
  margin: -7% -10%;
  height: 80px;
  color: #f0f1f3;
  font-size: 16px;
  text-align: center;
  padding-top: 12%;
}
.home--content--right {
	margin-top: 9.5%;
}
.login--message, .register--message,
.login--message2 {
    position: relative;
    top: 9px;
    display: none;
    font-size: 12px;
    padding: 5px 12px;
}
.login--message2{
    display: block;
}
.login--button, .register--button, .register--modal, .newsfeed--button, .home--button, .invite__button {
	background-color: #c0ff00;
	color: #5f6252;
	font-size: 17px;
	font-family: lato_bold;
	margin-top: 4%;
	border: 1px solid #3faf2e;
}
.newsfeed--button {
	padding: 6px 17px;
	background-image: url("/static/images/more-info.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 115px;
	border: none;
	background-color: transparent;
}
.newsfeed--button:focus, .home--button:focus {
	outline: none;
}
body.modal-open {
	padding-right: 15px!important;
}
.register--modal {
	margin: 0;
	font-size: 15px;
	padding: 1% 3%;
}
.cancel--modal {
	margin: 0;
	font-size: 15px;
	background-color: #ff4d4d;
	color: #fff;
	border: 1px solid #3faf2e;
}
.register--button {
	font-size: 16px;
  margin-top: 8%;
  margin-bottom: 2%;
}
.login--actions, .login--actions .col-sm-6 {
	font-size: 11px;
	padding: 6px 0 0 0;
}
.login--actions .col-sm-6 input[type=checkbox] {
  vertical-align: sub;
}
.login--actions .col-sm-6:nth-child(2) {
	padding: 9px 0 0 0;
	text-align: right;
}
.register--actions, .register--actions .col-sm-6{
	padding: 1% 0;
}
.nav--style .navbar-header {
	padding-left: 0;
}
.nav--style ul {
	padding-right: 1%;
	margin-left: 5%;
}
.nav--style li a:hover {
	background-color: transparent;
}
#modal_sign, #modal_participant{
	padding-right: 0px!important;
}
#modal_sign .modal-header, #modal_sign .modal-footer, #modal_participant .modal-header, #modal_participant .modal-footer{
	background-color: #3faf2a;
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_sign, #modal_sign .modal-dialog, #modal_sign .modal-content, #modal_participant, #modal_participant .modal-dialog, #modal_participant .modal-content {
	background: transparent;
}
#modal_sign .modal-header h4, #modal_participant .modal-header h4 {
	color: #fff;
	text-shadow: 1px 1px black;
	text-align: center;
}
#modal_sign .modal-dialog, #modal_participant .modal-dialog {
	top: 25%;
	left: 25%;
	position: absolute;
	margin: 0;
	color: #75787d;
}
#modal_sign .modal-body, #modal_participant .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_sign .modal-body, #modal_participant .modal-body {
	height: 350px;
	padding: 35px;
}
.user--icon {
  	font-size: 75px!important;
	color: #c0ff00;
	text-align: center;
	height: 100px;
	margin-top: -39px;
	border: 3px solid #c0ff00;
	border-radius: 46px;
	width: 90px;
}
.user--icon--login {
	font-size: 75px!important;
	color: #c0ff00;
	text-align: center;
	height: 100px;
	margin-top: -39px;
	border-radius: 46px;
	background-size: 100px 100px;
	width: 100px;
}
.modal-cancel {
	margin-top: 8px;
	text-align: center;
}
.checkbox--selection p {
	display: inline-block;
}
.checkbox--selection p a{
	text-decoration: none;
	color: #75787d;
}
.check-selection {
	border-bottom: 1px solid;
}
.checkbox--selection p:nth-child(2) {
	float: right;
	position: relative;
    right: 20px;
    bottom: -5px;
}
#modal_sign .modal-body div.input-group label.input-group-btn span, #modal_participant .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #2d2d2d;
}
#modal_sign .modal-body div.input-group label.input-group-btn span:hover, #modal_participant .modal-body div.input-group label.input-group-btn span:hover  {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
.register--button[disabled],
.login--button[disabled]{
    background-color: #c0ff00 !important;
}
.errorInput{
    border-color: RED;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
/* NEWSFEED STYLE */
.newsfeed--content {
	margin-top: 10%;
}
.newsfeed--header .fa-clock-o{
	font-size: 35px;
}
.newsfeed--duration {
	padding: 2px;
	font-size: 13px;
	text-align: center;
	margin-left: 10px;
}
.newsfeed--name {
    padding: 0px;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
    width: 18%;
    top: 10px;
}
.newsfeed--name a{
    margin: 0px;
}
.newsfeed--header{
	font-family: lato_bold;
	font-size: 16px;
	padding: 0 15px;
    margin-top: -58px;
}
#newsfeed__body{
    left: 80px;
}
.newsfeed--goals {
	text-align: right;
	right: -45px;
	padding: 4px 0px;
}
.newsfeed--body {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 35.75%;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 600px;
	height: 386px;
}
.home--proposals--body {    
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	margin-top: 2%;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 353px;
}
.newsfeed--problem, .newsfeed--proposal {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 15px;
	color: #fff;
	font-size: 17px;
	letter-spacing: 1px;
	padding:5px;
	height: auto;

}
.newsfeed--proposal {
	background-color: rgba(255, 255, 255, 0.82);
	color: #000;
	margin-bottom: 15px;
	overflow: hidden;
}
.newsfeed--progress, .newsfeed--progress2{
	margin-top: 10px;
    margin-right: -69px;
    margin-left: 10px;
    height: 12px;	
    margin-bottom: 8px;
    background-image: -webkit-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -o-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#737373),to(#a6a6a6))!important;
    background-image: linear-gradient(to bottom,#737373 0,#a6a6a6 100%)!important;
}
.newsfeed--progres{
    margin-bottom: 13px;
}
.newsfeed--bar, .newsfeed--bar2{
	background-image: -webkit-linear-gradient(top,#c0ff00 0,#cfec1d 100%)!important;
    background-image: -o-linear-gradient(top,#c0ff00 0,#cfec1d 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c0ff00),to(#cfec1d))!important;
    background-image: linear-gradient(to bottom,#c0ff00 0,#cfec1d 100%)!important;
}
.profile--picture {
	width: 75px;
  height: 75px;
  margin-top: -14px;
  border-radius: 60px;
	overflow: hidden;
}
.profile--picture img {
	position: relative;
  left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.newsfeed--footer .redflag--img img {
	width: auto;
	height: auto;
	cursor: pointer;
}
.newsfeed--footer .redflag--img {
	padding: 0;
	width: 35px;
	text-align: center;
    margin-left: 10px;
    margin-top: 18px;
}
.neewsfeed--moreinfo{
	margin-left: 0px;
	
}
.newsfeed--footer {
	margin-top: 15px;
}
.input--percent label{
	color: #555555;
	margin-bottom: 0px;
}
.input--percent {
  	font-size: 17px!important;
    background-color: rgb(231, 231, 231)!important;
    border: 2px solid #a4a4a4;
    text-align: center;
    font-family: lato_bold;
    text-align: center;
    padding: 3px;
    width: 52%;
    top: -32px;
    margin-left: 200px;
    position: relative;
    height: 35px;
}
.newsfeed--likes {
	padding-left: 0;
	/*margin-left: -50px;*/
    margin-top: 12px;
}
.newsfeed--likes ul{
	display: inline-block!important;
	list-style: none;
	padding-left: 0px;
	font-size: 16px;
	left: -15px;
    position: relative;
}
.newsfeed--userlist--img{
    width: 30px;
}
.newsfeed--likes ul a li, .newsfeed--name a{
	color: #1067fc;
	display: inline-block!important;
  	text-decoration: none;
}
.vote--on{
    padding: 0px;
    position: relative;
    top: 2px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}
.vote--on span{
    position: absolute;
    left: 80%;
    top: 3px;
    font-size: 12px;
}
.newsfeed--likes ul a li {
    border-bottom: 1px solid;
    font-size: 16px;
}
.newsfeed--likes ul a.last--liked li{
	text-decoration: none!important;
	color: #000!important;
	padding-left: 5px;
	font-family: lato_bold;
	font-size: 15px;
	border-bottom: none;
	/*margin-left: 40px;*/
}
.idea--action--buttons{
	margin-top: -20px;
	margin-left: -5px;
}
.newsfeed--persons {   
	padding-left: 0;
    position: relative;
    margin-left: 5px;
}
.newsfeed--name a {
	text-decoration: underline;
}
.newsfeed--persons img {
    margin-top: 12px;
}
.newsfeed--followers {
	padding-top: 20px;
	display: inline-block;
    text-align: right;
}
.newsfeed--followers p{
	display: inline-block;
	font-family: lato_bold;
	font-size: 17px;
	margin-left: 10px;
}

.newsfeed--share {
	margin-top: 53px;
}
.displayShare {
	display: block;
}
.displayVote {
    visibility: visible!important;
    opacity: 1!important;
}
.displayVote:nth-child(1){
	 transition: opacity 0.125s;
	 transition-delay: 0s;
	 -webkit-transition-delay: 0s;
}
.displayVote:nth-child(2){
	 transition: opacity 0.125s;
	 transition-delay: 0.125s;
	 -webkit-transition-delay: 0.125s;
}
.displayVote:nth-child(3){
	 transition: opacity 0.125s;
	 transition-delay: 0.25s;
	 -webkit-transition-delay: 0.25s;
}
.displayVote:nth-child(4){
	 transition: opacity 0.125s;
	 transition-delay: 0.375s;
	 -webkit-transition-delay: 0.375s;
}
.rotated{
	transform: rotate(180deg);
}

.newsfeed--share i.fa-share-alt {
	font-size: 30px;
	position: relative;
    top: 4px;
}
.newsfeed--share--icons {
    margin-top: -50px;
    margin-left: -10px;
    z-index: 2;
}
.newsfeed--share--icons img{
	width: 75px;
	/*
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    */
}
.newsfeed--share--icons img:nth-child(4){
	width: 62px;
}
/* END OF NEWSFEED STYLE */
/* HOME STYLE */
.home--progress, .home--progress2{
	margin-top: 6px;
    margin-right: -27px;
    margin-left: 3px;
    height: 12px;	
    background-image: -webkit-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -o-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#737373),to(#a6a6a6))!important;
    background-image: linear-gradient(to bottom,#737373 0,#a6a6a6 100%)!important;
}
.home--button {
    padding: 4px 10px;
    margin-left: -18px;
    background-image: url("/static/images/more-info.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 95px;
	border: none;
	background-color: transparent;
	margin-left: 20px;
}
.redflag{
	margin-top: -15px;
	margin-left: 5px;
	cursor: pointer;
}
.home--progress{
    margin-bottom: 13px;
}
.home--followers {
	top: 15px;
    display: inline-block;
    right: -50px;
}
.home--followers p{
	display: inline-block;
	font-family: lato_bold;
	font-size: 17px;
	margin-left: 10px;
}
.home--share--icons img{
	width: 60px;
	cursor: pointer;
}
.home--share--icons {
	padding-left: 0;
}
.home--share {
	margin-top: 20px;
	margin-bottom: 50px;
}
.home--share i.fa-share-alt {
	font-size: 30px;
	position: relative;
    top: 4px;
}
.primary--header {
	width: 100%;
	position: absolute;
	left: 45%;
	z-index: -1;
}
.primary--header a{
	width: 100%;
	z-index: 0;
}
a.add--proposal--button { 
	background-color: #c0ff00!important;
	background-image: url("/static/images/create-proposal-btn.png");
    color: #5f6252!important;
    font-size: 13px!important;
    font-family: lato_bold!important;
    height: 38px!important;
    border: 6px solid #3faf2e;
    padding: 2px 12px 5px 12px!important;
    float: right;
    z-index: 9;
    margin-right: 10%;
        width: 145px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a.add--proposal--button:hover, a.add--proposal--button:active, a.add--proposal--button:focus {
	text-decoration: none;
	outline: none;
}
.add--proposal--button i { 
	font-size: 20px;
	margin-right: 5px;
}
/* END OF HOME STYLE */
/* HOME STYLE WHEN LOGGED */
.home--profile--picture {
	width: 70px;
  	height: 70px;
  	margin-top: -20px;
  	border-radius: 60px;
	overflow: hidden;
    left: 15px;
    position: relative;
}
.home--profile--picture img{
	width: 70px;
  	height: 70px;	
}
.home--header .fa-clock-o{
	font-size: 25px;
}
.home--header{
	font-family: lato_bold;
	font-size: 15px;
	max-height: 62px;
}
p.duration--info {
    width: 65px;
    left: -10px;
    position: relative;
}
.home--name a{
	color: #1067fc;
	display: inline-block!important;
  	text-decoration: underline;
  	margin-bottom: 5px;
}
.home--charge {
    left: 20px;
    padding: 0 5px;
        margin-left: -30px;
}
.newsfeed--goals p{
	padding: 0px;
	margin: 4px 0px 5px;
	font-size: 13px;
}
.home--name{
    padding: 0px;
    left: 20px;
    font-size: 16px;
}
.home--content--logged {
	margin-top: 6%;
}
.home--voted h2 {
	margin-top: 0;
}
.home--voted {
	margin-bottom: 5%;
	padding-left: 0;
}
.select--options {
	position: relative;
	background: #cecece;
	margin-left: 34px;
}
.active-triangle, .select--triangle:hover  {
	background: #cecece;
}
.select--triangle {
	float: right;
    padding: 9px;
    font-size: 12px;
}
.selected--option {
	font-weight: normal;
	margin-bottom: 0px;
}
.selected--option img, .unselected--option img {
	width: 30px;
}
.unselected--option img, .selected--option img{
	margin: 0 10px 0 4px;
}
.select--triangle:hover, .unselected--option:hover {
	cursor: pointer;
}
.home--voted, .select--options {
	font-size: 17px;
	font-family: lato_bold;
}
/****** ADD PROPOSAL (1/3) STYLE *********/
#modal_proposal1 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal1 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal1 {
	padding-right: 0px!important;
}
#modal_proposal1 .modal-header, #modal_proposal1 .modal-footer {
	background-color: #3faf2a;
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_proposal1, #modal_proposal1 .modal-dialog, #modal_proposal1 .modal-content {
	background: transparent;
}
#modal_proposal1 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal1 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    min-width: 810px;
    max-width: 810px;
	margin: 0;
	color: #75787d;
}
#modal_proposal1 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal1 .modal-body {
	height: 830px;
	padding: 20px 50px;
}
#modal_proposal1 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal1 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal1 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal1 textarea {
	background-color: #e5e6e8!important;
}
/********* END OF ADD PROPOSAL 1 ***************/
/*********** ADD PROPOSAL 2 STYLE *************/
#modal_proposal2 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal2 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal2 {
	padding-right: 0px!important;
}
#modal_proposal2 .modal-header, #modal_proposal2 .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_proposal2, #modal_proposal2 .modal-dialog, #modal_proposal2 .modal-content {
	background: transparent;
}
#modal_proposal2 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal2 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    min-width: 810px;
    max-width: 810px;
	margin: 0;
	color: #75787d;
}
#modal_proposal2 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal2 .modal-body {
	height: 780px;
	padding: 20px 50px;
}
#modal_proposal2 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal2 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal2 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal2 textarea {
	background-color: #e5e6e8!important;
}
.proposal--anonymous label {
	font-weight: normal;
	margin-left: 10px;
}
.addproposal--step2{
	list-style: none;
	background-color: #fff;
	padding: 30px 0 30px 0;
	border-radius: 15px;
}
.addproposal--step__div {
	overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px;
    margin-bottom: 8%;
    border: 2px solid #cecece;
}
.addproposal--step2__div {
	overflow-y: scroll;
    overflow-x: hidden;
    max-height: 510px;
    border: 2px solid #cecece;
}
.addproposal--step2 li img{
	width: auto;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
}
.addproposal--step2 li input {
	display: inline-grid;
    margin-right: 0;
    width: 120px;
    vertical-align: middle;
    font-size: 13px;
    height: 30px;
}
.addproposal--step2 li {
    margin: 0 30px 0 30px;
}
.addproposal--step2 li:not(:last-child) {
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #cecece;
}
.addproposal--step2 li p {
	display: inline-table;
}
/********** END OF ADD PROPOSAL 2 *************/
/*********** ADD PROPOSAL 3 STYLE *************/
#modal_proposal3 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal3 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal3 {
	padding-right: 0px!important;
}
#modal_proposal3 .modal-header, #modal_proposal3 .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
#modal_proposal3, #modal_proposal3 .modal-dialog, #modal_proposal3 .modal-content {
	background: transparent;
}
#modal_proposal3 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal3 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    min-width: 810px;
    max-width: 810px;
	margin: 0;
	color: #75787d;
}
#modal_proposal3 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal3 .modal-body {
	height: 300px;
	padding: 20px 50px;
}
.proposal3--volunteers {
	display: inline-flex;
}
.proposal3--volunteers label{
	margin-left: 10px;
	font-family: lato_bold;
	position: relative;
	top: 5px;
}
#modal_proposal3 .modal-prev button {
	left: 5px;
    top: 10px;
    float: left;
}
#modal_proposal3 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal3 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal3 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal3 textarea {
	background-color: #e5e6e8!important;
}
/********** END OF ADD PROPOSAL 3 *************/
.modal-controls .modal-next button img, .modal-next button img{
	width: 50px;
}
.modal-prev button, .modal-next button {
	border: 0;
	position: relative;
    background: transparent;
}
.modal-next button {
	right: 30px;
	float: right;
}
.modal-prev button {
	left: 30px;
	float: left;
}
.modal-controls .modal-prev button img{
	width: 50px;
}
.addproposal--optional {
	background-color: #3faf2e;
	color: #fff;
	text-align: center; 
	padding: 1% 0;
}
.addproposal--summarize {
	font-family: lato_bold;
}
.addproposal--img img{
	width: 100%;
    height: auto;
    max-height: 130px;
}
.addproposal--img {
	border: 1px solid #cecece;
}
/* END OF HOME STYLE WHEN LOGGED */
.register--check {
	margin: 5px 0 15px 0;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .fa {
  position: absolute;
  padding: 12 11 11 11px;
  font-size: 18px;
  color: grey;
  pointer-events: none;
}
.home--login .fa-envelope, .home--login .fa-lock {
	font-size: 15px!important;
  padding-top: 5px!important;
  padding-left: 5px!important;
}
.left-addon .fa  { left:  0px;}
.left-addon input  { padding-left:  35px!important; }
.menu--mobile--icon {
	display: none;
	position: absolute;
    font-size: 20px;
    top: 8px;
    left: 20px;
    color: #fff;
    z-index: 5;
    opacity: 1;
}
.nav--style ul li a:focus {
    background: transparent;
}
.menu--mobile--icon:hover, .menu--mobile--icon:focus {
	color: #fff!important;
}
.span__search {
	vertical-align: middle;
    position: relative;
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}
.search__div--participants {
	height: 50px;
	width: 450px;
	background-color: #E3EEF6;
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}
input.form-control.invite__button:focus {
    border: 1px solid #3faf2e;
    outline: transparent!important;
    box-shadow: none;
}
.container__participants {
	font-family: lato_regular;
	padding: 0 15px;
}
.container__search--participants {
	font-family: lato_regular;
}
.span__search input {
	background-color: #d8e6ef!important;
	border-radius: 5px!important;
	color: #324e62!important;
    padding-left: 45px!important;
    font-family: lato_bold!important;
}
.span__search input::-webkit-input-placeholder {
	color: #324e62!important;
}
.span__search input:-moz-placeholder {
	color: #324e62!important;
}
.span__search input:focus {
	outline: none!important;
	border-color: #b2c5d2!important;
	box-shadow: none!important;
}
/***** PARTICIPANTS STYLE  ******/
.search__icon--participants {
	position: absolute!important;
    top: 18px!important;
    left: 32px!important;
    z-index: 4;
}
.btn__search {
	background-color: #c0ff00!important;
	border-color: #3faf2e;
	border-radius: 5px!important;
	width: 120px;
	font-family: lato_bold!important;
}
.participant__info {
	margin-top: 100px;
	font-size: 17px;
	margin-left: 30px;
}
.participant__profile--pic .profile--picture {
	width: 125px;
	height: 125px;
}
.participant__name a{
	font-size: 25px;
	text-decoration: underline;
	color: #1067fc;
}
.participant__name {
	margin-left: -38px;
    line-height: 35px;
}
.participant__active--p, .participant__followers, .participant__following {
	margin-top: -20px;
    line-height: 33px;
    text-align: center;
}
.participant__setting span {
	font-size: 33px;
	color: #828282;
	cursor: pointer;
	top: -14px;
}
.participant__invite {
	border: 1px solid #3faf2e;
}
.participant__content {
    max-width: 540px;
    color: #707175;
}
.participant__content textarea {
	width: 90%;
    height: 50px;
    margin: 10px 20px;
}
.invite__button {
	width: 150px;
    height: 35px;
    margin: 0 auto;
}
.invite__header {
	background: #c0ff00;
}
.invite__header p {
    padding: 5px 0;
    text-align: center;
    font-family: lato_bold;
    font-size: 15px;
}
.invite__body {
	padding: 10px 22px 15px 22px;
}
.participant__body {
    margin-top: 30px;
}
.participant__follow {
    margin-top: 50px;
}
.participant__newsfeed {
	min-width: 630px;
	max-width: 630px;
	border: 1px solid #c6c6c8;
    padding: 35px 40px 50px 40px;
    overflow-y: scroll;
}
.nav-tabs {
	border-bottom: none!important;
	border-bottom: none!important;
    padding-left: 40px;
    top: 1px;
    position: relative;
}
.participant__follow ul.nav-tabs li.active a {
	color: #000;
	background-color: transparent;
}
.participant__follow ul.nav-tabs li a {
	padding: 14px 80px 7px 33px;
	border: none;
	color: #000;
	font-family: lato_bold;
}
.participant__follow ul.nav-tabs li a:hover, .participant__follow ul.nav-tabs li a:focus {
	border:none;
	background: transparent;
}
.participant__follow .addproposal--step2 {
	border-radius: 0;
}
.search__participant ul li input[type="button"] {
	float: right;
    text-align: center!important;
}
.search__participant .addproposal--step2 {
	padding: 30px 50px;
	margin-bottom: 8%;
	border-radius: 0;
}
.search__participant p:first-child {
    text-align: center;
    margin: 45px 0 20px 0;
    color: #6c6f74;
}
.search__participant ul li {
	border-bottom: none!important;
}
.search__participant legend{
	color: #6c6f74;
	font-size: 17px;
	font-family: lato_bold;
}
.tabs__follow {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}
ul.nav-tabs li a:before {
	content: '';
    position: absolute;
    top: -20px;
    right: 0;
    bottom: .5em;
    height: 149%;
    left: 0;
    z-index: -1;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #cecece;
    border-left: 2px solid #cecece;
    border-right: 2px solid #cecece;
    background: #fff;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}
ul.nav-tabs li {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

nav.nav-tabs li a {
	position: relative;
	display: inline-block;
	padding: 1.5em 1.5em 1em;
	color: inherit;
	text-decoration: none;
	margin: 0 -7px;
} 

ul.nav-tabs li a {
	padding: 1.5em 2em 1em 1em;
}

ul.nav-tabs li a:before {
	transform-origin: bottom left;
}

ul.nav-tabs li a.selected {
	z-index: 2;
}

ul.nav-tabs li a:before {
	margin-bottom: -1px;
	border-top-width: 1px;
	background-color: #e6e7e9;

}
ul.nav-tabs li.active a:before {
	background-color: transparent;
}
.tab-content>.tab-pane.selected {
    display: block;
    max-height: 1600px;
}
.participant__body .home--profile--picture img {
    height: 100%;
}
.participant__body .home--header {
	font-size: 12px;
}
.participant__body .home--name {
	font-size: 13px;
}
.participant__body .newsfeed--goals {
	line-height: 23px;
}
.participant__body .home--button {
	margin-left: -30px;


}
#modal_participant div.modal-header h4 {
	text-align: left;
}
#modal_participant .modal-dialog {
	width: 950px;
    left: 14%;
    top: 5%;
}
#modal_participant div.modal-body {
	height: 640px;
	border-left: 2px solid #3faf2e;
	border-right: 2px solid #3faf2e;
	border-bottom: 2px solid #3faf2e;
}
.p_down-icon {
	margin-right: 7px;
    position: relative;
    top: -3px;
}
.p__div {
	display: inline-flex;
	width: 100%;
	margin-bottom: 20px;
}
.p__span {
	width: 185px;
}
.p__mail-img {
	height: 20px;
    position: absolute;
    top: 115px;
    right: -17px;
}
.p__titles--p {
	margin-left: -15px;
    color: #000;
    font-family: lato_bold;
    font-size: 16px;
}
/***** END OF PARTICIPANTS STYLE *******/
/***** NEW STILES **********************/
#delete-idea div.modal-header,
#logout__modal div.modal-header{
	background-color: #3faf2e;
	color: #fff;	
}
#delete-idea div.modal-footer button:nth-child(1) {
    color: #fff;
    background-color: #3faf2e;
    border-color: #3faf2e;
    width: 60px;
    height: 25px;
}
#delete-idea div.modal-footer button:nth-child(3){
	color: #fff;
    border-color: #af2e3f;
    background-color: #b30707;
    top: -8px;
    position: relative;
    width: 60px;
    height: 25px;
}
#delete-idea div.modal-body{
	width: 450px;
	padding-right: 10px;
}

#modify-user div.modal-header,
#logout__modal div.modal-header{
	background-color: #3faf2e;
	color: #fff;	
}
#modify-user div.modal-footer button:nth-child(1) {
    color: #fff;
    background-color: #3faf2e;
    border-color: #3faf2e;
    width: 60px;
    height: 25px;
    top: -8px;
    position: relative;
}
#modify-user div.modal-body{
	width: 450px;
	padding-right: 10px;
}
#modify-password {
	z-index: 2000;
}
#modify-password div.modal-header,
#logout__modal div.modal-header{
	background-color: #3faf2e;
	color: #fff;	
}
#modify-password div.modal-footer button:nth-child(1) {
    color: #fff;
    background-color: #3faf2e;
    border-color: #3faf2e;
    width: 60px;
    height: 25px;
    top: -8px;
    position: relative;
    z-index: 1000;
}
	
#redflag-modal div.modal-header,
#logout__modal div.modal-header{
	background-color: #3faf2e;
	color: #fff;	
}
#redflag-modal div.modal-footer button:nth-child(1){
	color: #fff;
    background-color: #3faf2e;
    border-color: ##3faf2e;
    width: 60px;
    height: 25px;
    top: -8px;
    position: relative;
}
#redflag-modal div.modal-footer button:nth-child(2) {
    color: #fff;
    border-color: #af2e3f;
    background-color: #b30707;
    top: -8px;
    position: relative;
    width: 90px;
    height: 25px;
}
.max-area{
	height: 170px;
	max-height: 180px;
	max-width: 500px;
}
#redflag-modal div.modal-body{
	height: 250px;
}

#invitation-modal-info div.modal-header,
#logout__modal div.modal-header{
	background-color: #3faf2e;
	color: #fff;
}
#invitation-modal-info button.close,
#logout__modal button.close{
	color:#c1ff00!important;
}
#logout__modal div.modal-footer button:nth-child(1){
	color: #fff;
    background-color: #3faf2e;
    border-color: #3faf2e;
    width: 60px;
    height: 25px;
    top: -8px;
    position: relative;
}
#logout__modal div.modal-footer button:nth-child(2){
	color: #fff;
    border-color: #af2e3f;
    background-color: #b30707;
    top: -8px;
    position: relative;
    width: 60px;
    height: 25px;
}
.logout__button{
	position: absolute;
    right: 5vw;
    top: 0.8vw;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}	
.back__button {
    float: right;
    position: relative;
    color: #3faf2e;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.back__button span:nth-child(1) {
    top: 2px;
    font-size: 20px;
}
.back__button span:nth-child(2) {
    top: -2px;
    position: relative;
}
a.add--proposal--provisional,
a.edit--proposal--provisional{
    background-image: url('/static/images/create-proposal-btn.png');
    color: #5f6252!important;
    font-size: 13px!important;
    font-family: lato_bold!important;
    height: 38px!important;
    padding: 2px 12px 5px 12px!important;
    float: right;
    z-index: 9;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-right: 15px;
    cursor: pointer;
}
a.edit--proposal--provisional {
	display:none;
    background-image: url('/static/images/edit-proposal-btn.png');
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #3faf2e!important;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#does-exist{
	position: relative;
	left:8%;
}

.addproposal--step2 li p {
    width: 50%;
}

.new--user--icon--login{
	max-width: 70px;
	max-height: 70px;
	border-radius: 46;
}
.list-to-proposal{
	overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
 
}
#more--info--modal{
	z-index: 100;
    position: absolute;
    margin-top: -170px;
    height: auto;
    width: 92%;
    background-color: rgba(63, 175, 46, 0.82);
    border: 8px double #66ff66;
    border-color: #fff;
    font-family: lato_regular;
    filter: alpha(opacity=98);
    padding-left: 8px;
    color: #ffffff;
    margin-left: 5px;
}
.arrow__newsfeed__left,
.arrow__newsfeed__right{
	position: absolute;
	top: 300px;
	font-size: 80px;
	left: -15%;
	color: #d4d4d4;
	display: none;
	cursor: pointer;
}
.arrow__newsfeed__right{
	left: 105%;
}
.arrow__newsfeed__left:hover,
.arrow__newsfeed__right:hover{
	color: #bfbfbf;
}
.vote__idea--button{
	cursor: pointer;
	margin-left: 5px;
}
.home--content--proposal {
    margin: 25px 10px;
    width: 48%;
    min-height: 549px!important;
    max-height: 549px!important;
}
.progress-bar {
    background-image: -webkit-linear-gradient(top,#bfff00 0,#9fcb1b 100%)!important;
    background-image: -o-linear-gradient(top,#bfff00 0,#9fcb1b 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#bfff00),to(#9fcb1b))!important;
    background-image: linear-gradient(to bottom,#bfff00 0,#9fcb1b 100%)!important;
}
.span--error{
	left: 35px;
    position: relative;
    color: #FF0000;
    font-weight: bold;
}
/***** END NEW STILES ******************/

/****************** CROPPER STYLES ******************/
.cropme_profile,
#cropme_profile_edit{
	width: 100px;
    height: 100px;
    float: left;
    background-image: url(/static/images/perfil-mediano.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#cropme_bidea{
	width: 300px;
    height: 192px;
	background-image: url(/static/images/fondo-c.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#cropme_profile_edit{
    position: relative;
    margin-top: -20px;
    left: 50px;
}
.cropme_profile img,
#cropme_profile_edit img{
	border-radius: 50px;
}
.cropme_span,
.cropme_span_edit{
    position: relative;
    right: 61px;
    bottom: -98px;
    font-size: 13px;
}
.cropme_span_edit{
    right: -80px;
    bottom: -12px;
}
#preview{
	z-index: 9999!important;
}
#preview .buttons .cancel,
#preview .buttons .ok{
	background-size: cover;
}
.concern__div {
	width: 100%;
	position:absolute;
	top: 5.5vw;
}
.newsfeed__concern {
	position: absolute;
	top:2%;
}
.idea--action--buttons div span{
    cursor: pointer;
    font-size: 30px;
    color: black;
    margin-left: -10px;
    
}
.idea--action--buttons div span.glyphicon-trash {
    color: black;
}
.action--buttons--topten{
    margin-top: -75px;
    margin-left: -10px;
    position: absolute;
}
#loader--general{display:none;}
.uknown__user--duration{
    position: relative;
    left: -20px;
}
.one--progress__bar{
	top:16px!important;
}
.edit--proposal--hint{
	position: relative;
	top: 5px;
	color: red;
	display: none;
}
.one--text__bar{
    top: 8px;
    position: relative;
}
.one--text__bar__newsfeed{
	top: 15px;
    position: relative;
}
.redflag__topten{
	top: 20px;
	margin-left: 50px;
	position: relative;
	margin-top: -15px;
	cursor: pointer;
}
.redflag__newsfeed{
    width: auto;
    height: auto;
    cursor: pointer;
    margin-top: -15px;
    margin-left: 5px;
    cursor: pointer;
}
.redflag__home{
    width: 12px;
    margin-top: -22px;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-top: -15px;
    margin-left: 5px;
    cursor: pointer;
}
.more__info--home{
	width: 535px!important;
}

/*************** NEW HOVER BUTTONS ***********************/
div#rejected, div#supported, div#ignored, div#support__plus--button, div#supported-plus{
    background-size: cover;
    display: inline-block;
}
div#rejected{
    background-image: url('/static/images/reject-unhover.png');
}
div#rejected:hover, div.rejected--voted{
	background-image: url('/static/images/reject-hover.png')!important;
}
div#supported, div#ignored, div#support__plus--button, div#supported-plus, div#rejected{
	width: 30px;
    height: 30px;
}
div#supported{
	background-image: url('/static/images/check-unhover.png');
}
div#supported:hover, div.supported--voted{
	background-image: url('/static/images/check-hover.png')!important;
}
div#ignored{
	background-image: url('/static/images/ignore-unhover.png');
}
div#ignored:hover{
	background-image: url('/static/images/ignore-hover.png');
}
div#support__plus--button, div#supported-plus{
	background-image: url('/static/images/check_volunteer-unhover.png');
}
div#support__plus--button:hover, div#supported-plus:hover, div.supported__plus--voted{
	background-image: url('/static/images/check_volunteer-hover.png')!important;
}
.update--password{
	background-image: url(/static/images/update-password-btn.png);
    width: 190px;
    height: 40px;
}
.update--profile{
	width: 190px;
    font-size: 18px;
    height: 40px;
    padding: 0px;
}
#message--modify{
	float: right;
    top: -15px;
    position: relative;
    color: red;
    right: 10px;
}
div.home--share--button {
    margin-left: 5px;
}
div#supported {
    margin-left: 10px;
}
#delete-idea {    
	position: fixed;
    top: 100px;
    left: 40%;
    min-width: 300px;
    max-width: 300px;
}
#delete-idea .modal-dialog {
	min-width: 300px;
    position: absolute;
    max-width: 300px;
}
.edit-div, .trash-div{
	display: inline-block;
}
.trash-div{
	margin-left: 10px;
}
.edit, .trash{
	font-size: 28px;
	cursor: pointer;
}
.redflag__home{
	width: 12px;
    margin-top: -22px;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
}
.custom--messages{
	top: 30px;
	position: relative;
}