@font-face {
    font-family: lato_regular;
    src: url("/static/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: lato_bold;
    src: url("/static/fonts/Lato-Bold.ttf");
}
input[type=text], input[type=password], select {
	font-size: 12px!important;
	padding: 2% 5%!important;
	background-color: #e5e6e8!important;
}
body {
	font-family: lato_regular;
}
.input--top {
  height: 6.5%;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-bottom: none;
}
.input--bottom {
  height: 6.5%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-bottom: 2px solid #dadbdd;
  border-top: none; 
}
.input--middle {
  height: 6.5%;
  border-radius: 0px;
  border: 2px solid rgba(188, 189, 191, 0.7);
  border-top: none; 
  border-bottom: none;
}
.nav--style {
	background-color: #3faf2e;
	min-height: 10px!important;
  	height: 38px;
}
.nav--style a{
	color: #fff;
	height: 20px;
	padding: 9px 15px!important;
}
.nav--style .navbar-header a{
	letter-spacing: 1.5px;
	font-family: Uni Sans Heavy;
}
.home--content {
	background-image: url("/static/images/concerns/meeting.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.home--content--left {
	color: #fff;
	margin-top: 8%;
	text-shadow: 0px 0px 3px black;
}
.home--content--left h1{
	font-size: 70px;
	letter-spacing: 1px;
	margin-bottom: 5.8%;
}
.home--content--left h3{
	font-size: 30px;
	line-height: 1;
	margin-bottom: 4%;
}
.home--login, .home--register {
	background-color: #f0f1f3;
	padding: 5% 7%;
	width: 90%;
	border-top: solid 10px #3faf2e;
}
.home--register {
	border-top: none;
}
.home--register input[name=fullname_r]{
	margin-top: 13%;
}
.home--register h4{
  background-color: #3faf2e;
  margin: -7% -10%;
  height: 80px;
  color: #f0f1f3;
  font-size: 16px;
  text-align: center;
  padding-top: 12%;
}
.home--content--right {
	margin-top: 9.5%;
}
.login--button, .register--button, .register--modal, .newsfeed--button, .home--button {
	background-color: #c0ff00;
	color: #5f6252;
	font-size: 17px;
	font-family: lato_bold;
	margin-top: 4%;
	border: 1px solid #3faf2e;
}
.newsfeed--button {
	padding: 6px 17px;
}
body.modal-open {
	padding-right: 15px!important;
}
.register--modal {
	margin: 0;
	font-size: 15px;
	padding: 1% 3%;
}
.cancel--modal {
	margin: 0;
	font-size: 15px;
	background-color: #ff4d4d;
	color: #fff;
	border: 1px solid #3faf2e;
}
.register--button {
	font-size: 16px;
  margin-top: 8%;
  margin-bottom: 2%;
}
.login--actions, .login--actions .col-sm-6 {
	font-size: 11px;
	padding: 6px 0 0 0;
}
.login--actions .col-sm-6 input[type=checkbox] {
  vertical-align: sub;
}
.login--actions .col-sm-6:nth-child(2) {
	padding: 9px 0 0 0;
	text-align: right;
}
.register--actions, .register--actions .col-sm-6{
	padding: 1% 0;
}
.nav--style .navbar-header {
	padding-left: 0;
}
.nav--style ul {
	padding-right: 1%;
	margin-left: 10%;
}
.nav--style li a:hover {
	background-color: transparent;
}
#modal_sign {
	padding-right: 0px!important;
}
#modal_sign .modal-header, #modal_sign .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_sign, #modal_sign .modal-dialog, #modal_sign .modal-content {
	background: transparent;
}
#modal_sign .modal-header h4 {
	color: #fff;
	text-shadow: 1px 1px black;
	text-align: center;
}
#modal_sign .modal-dialog {
	top: 25%;
	left: 25%;
	position: absolute;
	margin: 0;
	color: #75787d;
}
#modal_sign .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_sign .modal-body {
	height: 350px;
	padding: 35px;
}
.user--icon {
  	font-size: 75px!important;
	color: #c0ff00;
	text-align: center;
	height: 100px;
	margin-top: -39px;
	border: 3px solid #c0ff00;
	border-radius: 46px;
	width: 90px;
}
.user--icon--login {
	font-size: 75px!important;
	color: #c0ff00;
	text-align: center;
	height: 100px;
	margin-top: -39px;
	border-radius: 46px;
}
.modal-cancel {
	margin-top: 8px;
	text-align: center;
}
.checkbox--selection p {
	display: inline-block;
}
.checkbox--selection p a{
	text-decoration: none;
	color: #75787d;
}
.check-selection {
	border-bottom: 1px solid;
}
.checkbox--selection p:nth-child(2) {
	float: right;
	position: relative;
    right: 20px;
    bottom: -5px;
}
#modal_sign .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_sign .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
/* NEWSFEED STYLE */
.newsfeed--content {
	margin-top: 10%;
}
.newsfeed--header .fa-clock-o{
	font-size: 35px;
}
.newsfeed--duration {
	padding-right: 0;
	text-align: right;
}
.newsfeed--name{
	margin-left: -30px;
	margin-right: 30px;
	font-size: 25px;
	text-decoration: underline;
}
.newsfeed--header{
	font-family: lato_bold;
	font-size: 17px;
}
.newsfeed--goals {
	text-align: right;
}
.newsfeed--body {
	height: 500px;
	background-image: url('/static/images/fondo-c.png');
	background-size: contain;
	background-position-y: bottom;
	background-repeat: no-repeat;
	margin-top: 2%;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home--proposals--body {
	height: 60%;
	background-image: url('/static/images/fondo-c.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 2%;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsfeed--problem, .newsfeed--proposal {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 15px;
	color: #fff;
	font-size: 17px;
	letter-spacing: 1px;
	padding:5px;
	height: 82px;
}
.newsfeed--proposal {
	background-color: rgba(255, 255, 255, 0.68);
	color: #000;
	margin-bottom: 15px;
}
.newsfeed--progress, .newsfeed--progress2{
	margin-top: 6px;
    margin-right: -69px;
    margin-left: 10px;
    height: 12px;	
    background-image: -webkit-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -o-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#737373),to(#a6a6a6))!important;
    background-image: linear-gradient(to bottom,#737373 0,#a6a6a6 100%)!important;
}
.newsfeed--progress{
    margin-bottom: 13px;
}
.newsfeed--bar, .newsfeed--bar2{
	background-image: -webkit-linear-gradient(top,#c0ff00 0,#cfec1d 100%)!important;
    background-image: -o-linear-gradient(top,#c0ff00 0,#cfec1d 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c0ff00),to(#cfec1d))!important;
    background-image: linear-gradient(to bottom,#c0ff00 0,#cfec1d 100%)!important;
}
.profile--picture {
	width: 100px;
  height: 100px;
  margin-top: -46px;
  border-radius: 60px;
	overflow: hidden;
}
.profile--picture img {
	position: relative;
  left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.newsfeed--footer .redflag--img img {
	width: 35px;
	height: 35px;
}
.newsfeed--footer .redflag--img {
	background-color: #e7e8ea;
	border: 1px solid #c5c5c5;
	padding: 0;
	width: 35px;
}
.newsfeed--footer {
	margin-top: 15px;
}
.input--percent label{
	color: #555555;
	margin-bottom: 0px;
}
.input--percent {
  font-size: 17px!important;
  background-color: #d9d9d9!important;
  text-align: center;
  border: none!important;
  font-family: lato_bold;
  color: #3faf2e;
  text-align: center;
  padding: 9px;
  width: 50%;
  margin-right: auto;
  border-radius: 20px;
  margin-left: auto;
}
.newsfeed--likes {
	padding-left: 0;
	padding-top: 11px;
	margin-left: -15px;
}
.newsfeed--likes ul{
	display: inline-block!important;
	list-style: none;
	padding-left: 10px;
	font-size: 16px;
}
.newsfeed--likes ul a li, .newsfeed--name a{
	color: #1067fc;
	display: inline-block!important;
  	text-decoration: none;
}
.newsfeed--likes ul a li {
	margin-right: 5px;
    border-bottom: 1px solid;
    font-size: 16px;
}
.newsfeed--likes ul a.last--liked li{
	text-decoration: none!important;
	color: #000!important;
	padding-left: 5px;
	font-family: lato_bold;
	font-size: 15px;
	border-bottom: none;
}
.newsfeed--persons {
	padding-left: 0;
	margin-top: 15px;
}
.newsfeed--name a {
	text-decoration: underline;
}
.newsfeed--persons .fa-check{
	font-size: 40px;
	color: #3faf2e;
}
.newsfeed--persons .fa-close{
	font-size: 40px;
	color: #f90e2b;
}
.newsfeed--followers {
	padding-top: 20px;
	display: inline-block;
}
.newsfeed--followers p{
	display: inline-block;
	font-family: lato_bold;
	font-size: 17px;
	margin-left: 10px;
}
.newsfeed--share {
	margin-top: 20px;
	margin-bottom: 50px;
}
.newsfeed--share i.fa-share-alt {
	font-size: 30px;
	position: relative;
    top: 4px;
}
.newsfeed--share--icons {
	padding-left: 0;
}
.newsfeed--share--icons img{
	width: 75px;
}
.newsfeed--share--icons img:nth-child(4){
	width: 60px;
}
/* END OF NEWSFEED STYLE */
/* HOME STYLE */
.home--progress, .home--progress2{
	margin-top: 6px;
    margin-right: -27px;
    margin-left: 3px;
    height: 12px;	
    background-image: -webkit-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -o-linear-gradient(top,#737373 0,#a6a6a6 100%)!important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#737373),to(#a6a6a6))!important;
    background-image: linear-gradient(to bottom,#737373 0,#a6a6a6 100%)!important;
}
.home--button {
    padding: 4px 10px;
    margin-left: -20px;
}
.home--progress{
    margin-bottom: 13px;
}
.home--followers {
	padding-top: 20px;
	display: inline-block;
}
.home--followers p{
	display: inline-block;
	font-family: lato_bold;
	font-size: 17px;
	margin-left: 10px;
}
.home--share--icons img{
	width: 60px;
}
.home--share--icons {
	padding-left: 0;
}
.home--share {
	margin-top: 20px;
	margin-bottom: 50px;
}
.home--share i.fa-share-alt {
	font-size: 30px;
	position: relative;
    top: 4px;
}
.primary--header {
	width: 100%;
	position: absolute;
	text-align: center;
}
.primary--header a{
	width: 100%;
}
a.add--proposal--button { 
	background-color: #c0ff00!important;
    color: #5f6252!important;
    font-size: 13px!important;
    font-family: lato_bold!important;
    height: 38px!important;
    border: 6px solid #3faf2e;
    padding: 2px 12px 5px 12px!important;
    float: right;
    margin-right: 10%;
}
.add--proposal--button i { 
	font-size: 20px;
	margin-right: 5px;
}
/* END OF HOME STYLE */
/* HOME STYLE WHEN LOGGED */
.home--profile--picture {
	width: 100px;
  	height: 100px;
  	margin-top: -38px;
  	border-radius: 60px;
	overflow: hidden;
}
.home--profile--picture img {
	position: relative;
  	left: 50%;
	top: 50%;
	height: 90%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
.home--header .fa-clock-o{
	font-size: 25px;
}
.home--header{
	font-family: lato_bold;
	font-size: 15px;
}
.home--name a{
	color: #1067fc;
	display: inline-block!important;
  	text-decoration: none;
  	text-decoration: underline;
}
.home--name{
	margin-left: -6px;
	margin-right: 6px;
	font-size: 16px;
	text-decoration: underline;
}
.home--content--logged {
	margin-top: 6%;
}
.home--voted h2 {
	margin-top: 0;
}
.home--voted {
	margin-bottom: 5%;
	padding-left: 0;
}
.select--options {
	position: relative;
	background: #cecece;
	margin-left: 34px;
}
.active-triangle, .select--triangle:hover  {
	background: #cecece;
}
.select--triangle {
	float: right;
    padding: 9px;
    font-size: 12px;
}
.selected--option {
	margin-bottom: 0px;
}
.selected--option img, .unselected--option img {
	width: 30px;
}
.unselected--option img, .selected--option img{
	margin: 0 2px 0 4px;
}
.select--triangle:hover, .unselected--option:hover {
	cursor: pointer;
}
.home--voted, .select--options {
	font-size: 17px;
	font-family: lato_bold;
}
/****** ADD PROPOSAL (1/3) STYLE *********/
#modal_proposal1 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal1 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal1 {
	padding-right: 0px!important;
}
#modal_proposal1 .modal-header, #modal_proposal1 .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_proposal1, #modal_proposal1 .modal-dialog, #modal_proposal1 .modal-content {
	background: transparent;
}
#modal_proposal1 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal1 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    width: 60%;
	margin: 0;
	color: #75787d;
}
#modal_proposal1 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal1 .modal-body {
	height: 800px;
	padding: 20px 50px;
}
#modal_proposal1 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal1 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal1 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal1 textarea {
	background-color: #e5e6e8!important;
}
/********* END OF ADD PROPOSAL 1 ***************/
/*********** ADD PROPOSAL 2 STYLE *************/
#modal_proposal2 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal2 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal2 {
	padding-right: 0px!important;
}
#modal_proposal2 .modal-header, #modal_proposal2 .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
.modal-footer {
	height: 39px;
}
#modal_proposal2, #modal_proposal2 .modal-dialog, #modal_proposal2 .modal-content {
	background: transparent;
}
#modal_proposal2 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal2 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    width: 60%;
	margin: 0;
	color: #75787d;
}
#modal_proposal2 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal2 .modal-body {
	height: 780px;
	padding: 20px 50px;
}
#modal_proposal2 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal2 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal2 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal2 textarea {
	background-color: #e5e6e8!important;
}
.proposal--anonymous label {
	font-weight: normal;
	margin-left: 10px;
}
.addproposal--step2{
	list-style: none;
	background-color: #fff;
	padding: 30px 0 30px 0;
	border: 2px solid #cecece;
	border-radius: 15px;
	overflow-y: scroll;
}
.addproposal--step2 li img{
	width: auto;
    height: 75px;
    margin-right: 15px;
}
.addproposal--step2 li input {
	display: inline-flex;
	margin-right: 30px;
}
.addproposal--step2 li {
	margin-left: 30px;
}
.addproposal--step2 li:not(:last-child) {
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #cecece;
}
.addproposal--step2 li p {
	display: inline-table;
}
/********** END OF ADD PROPOSAL 2 *************/
/*********** ADD PROPOSAL 3 STYLE *************/
#modal_proposal3 .modal-body div.input-group label.input-group-btn span {
	background-color: #c0ff00;
	border-color: #3faf2e;
	font-family: lato_bold;
	color: #5f6252;
}
#modal_proposal3 .modal-body div.input-group label.input-group-btn span:hover {
	background-color: #c0ff00;
	border-color: #3faf2e;
}
#modal_proposal3 {
	padding-right: 0px!important;
}
#modal_proposal3 .modal-header, #modal_proposal3 .modal-footer {
	background-color: rgba(63, 175, 46, 0.9);
	padding: 7px;
}
#modal_proposal3, #modal_proposal3 .modal-dialog, #modal_proposal3 .modal-content {
	background: transparent;
}
#modal_proposal3 .modal-header h4 {
	color: #fff;
	text-align: left;
}
#modal_proposal3 .modal-dialog {
	top: 10%;
    left: 20%;
    position: absolute;
    width: 60%;
	margin: 0;
	color: #75787d;
}
#modal_proposal3 .modal-body {
	background: rgba(255,255,255,0.9);
}
#modal_proposal3 .modal-body {
	height: 300px;
	padding: 20px 50px;
}
.proposal3--volunteers {
	display: inline-flex;
}
.proposal3--volunteers label{
	margin-left: 10px;
	font-family: lato_bold;
	position: relative;
	top: 5px;
}
#modal_proposal3 .modal-prev button {
	left: 5px;
    top: 10px;
    float: left;
}
#modal_proposal3 .modal-header .close {
	color: #fff!important;
	right: 7px;
	opacity: 1;
    position: relative;
    top: 3px;
}
#modal_proposal3 .modal-next {
	margin-top: 25px;
	text-align: center;
}
#modal_proposal3 .modal-header h4.modal-title {
	padding-left: 7%;
}
#modal_proposal3 textarea {
	background-color: #e5e6e8!important;
}
/********** END OF ADD PROPOSAL 3 *************/
.modal-controls .modal-next button i, .modal-next button i{
	color: #c0ff00;
	font-size: 50px;
	position: relative;
}
.modal-prev button, .modal-next button {
	border: 0;
	position: relative;
    background: transparent;
}
.modal-next button {
	right: 30px;
	float: right;
}
.modal-prev button {
	left: 30px;
	float: left;
}
.modal-controls .modal-prev button i{
	color: #c0ff00;
	font-size: 50px;
	float: left;
	transform:rotateY(180deg);
	position: relative;
}
.addproposal--optional {
	background-color: #3faf2e;
	color: #fff;
	text-align: center; 
	padding: 1% 0;
}
.addproposal--summarize {
	font-family: lato_bold;
}
.addproposal--img img{
	width: 100%;
    height: auto;
}
.addproposal--img {
	border: 1px solid #cecece;
}
/* END OF HOME STYLE WHEN LOGGED */
.register--check {
	margin: 5px 0 15px 0;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .fa {
  position: absolute;
  padding: 12 11 11 11px;
  font-size: 18px;
  color: grey;
  pointer-events: none;
}
.home--login .fa-envelope, .home--login .fa-lock {
	font-size: 15px!important;
  padding-top: 5px!important;
  padding-left: 5px!important;
}
.left-addon .fa  { left:  0px;}
.left-addon input  { padding-left:  35px!important; }