<p>Hello,</p>

<p>I would like to invite you to Consensus
<p>Please follow this link to register:</p>

<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>

<p> Green Consensus is the platform for crowd environmental action in Lake Geneva. </p>
<p> It expands the efforts of regional governments and activist groups to the environmentally-conscious community.</p>
<p> Are you in?!</p>

<br>
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/artisans_de_la_transition_logo.png" width="100px" height="auto">
&nbsp; &nbsp; &nbsp;      
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/asl_logo.png" width="80px" height="auto">
&nbsp; &nbsp; &nbsp;      
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/earth-focus-foundation_logo.png" width="100px" height="auto">
&nbsp; &nbsp; &nbsp;      
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/greenpeace_logo.png" width="150px" height="auto">
&nbsp; &nbsp; &nbsp;      
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/SYfC_logo.png" width="50px" height="auto">
&nbsp; &nbsp; &nbsp;      
<img src="http://dev-consensus-josegomes.c9users.io:8082/static/images/logos/WWF_logo.png" width="50px" height="auto">




