<!DOCTYPE html>
<html>
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    
    <!-- new pluggin -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/jquery.Jcrop.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/style-example.css') }}"> 
    <script src="{{ url_for('static',filename='pluggin/SimpleCropper/js/jquery.Jcrop.js') }}"></script>   
    <script src="{{ url_for('static',filename='pluggin/SimpleCropper/js/jquery.SimpleCropper.js') }}"></script>   
    <!-- end new pluggin -->
    
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/adaptive.css') }}">-->
	<title>Consensus</title>
</head>
<body class="container home--content">

    <nav class="navbar navbar-fixed-top nav--style">
      <div class="container">

        <!--<span class="glyphicon glyphicon-chevron-down logout__button" aria-hidden="true" ></span>
         <span class="glyphicon glyphicon-log-out logout__button" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-off logout__button" aria-hidden="true" ></span> -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CONSENSUS</a>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#">About us</a></li>
        </ul>-->
      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
