{% extends 'new_template.html' %}

{% block content %}
<div class="row newsfeed--content">
	<div class="col-sm-8 col-sm-offset-2">
        <div class="row newsfeed--header">
			<div class="col-sm-2" style="padding-left: 0px;">
				<div class="profile--picture">
                    <img src="" hidden>
					<img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}">
				</div>
			</div>
			<div class="col-sm-1 newsfeed--name">
				<a href="#"></a>
			</div>
			<div class="col-sm-2 newsfeed--duration">
				<p>
					<img src="{{ url_for('static',filename='images/clock-icon.png') }}">&nbsp;
					<p class="duration--info"></p>
				</p>
			</div>
			<div class="col-sm-3 newsfeed--charge">
				<div class="progress newsfeed--progress">
					<input type="text" value="" id="supporters--percent" hidden>
					<div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>

				<div class="progress newsfeed--progress2">
					<input type="text" value="" id="volunters--percent" hidden>
					<div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>
			</div>
			<div class="col-sm-4 newsfeed--goals">
				<p></p>
			</div>
		</div>

        <div class="row newsfeed--body">
			<div class="col-sm-12">
				<div class="col-sm-8 newsfeed--problem">
				</div>
			</div>
			<div class="col-sm-12" style="margin-top: 291px;">
				<div class="col-sm-8 col-sm-offset-4 newsfeed--proposal">
					<br><br>
				</div>
			</div>
		</div>

        <div class="row newsfeed--footer">
			<div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
				<div class="col-sm-1 redflag--img">
					<img src="{{ url_for('static',filename='images/redflag.png') }}">
				</div>
				<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
					<div class="input--percent">
						<label></label>
					</div>
				</div>
				<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
					<input type="button" name="more-info" class="newsfeed--button">
				</div>
			</div>
		</div>

        <div class="row newsfeed--persons">
			<div class="col-sm-12">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/check-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes" id="newsfeed--supporters">
					<ul>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/x-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes" id="newsfeed--rejectors">
					<ul>
					</ul>
				</div>
			</div>
		</div>

        <div class="row newsfeed--share">
            <div class="col-sm-12 newsfeed--share--icons">
                <div class="col-sm-6" style="padding:0;">
                    <img src="{{ url_for('static',filename='images/x-icon.png') }}">
                    <img style="width: 65px;" src="{{ url_for('static',filename='images/check-icon.png') }}">
                    <img style="width: 62px;" src="{{ url_for('static',filename='images/checkmark.png') }}">
                    <img src="{{ url_for('static',filename='images/ignore-icon.png') }}">
                </div>
                <div class="col-sm-6 newsfeed--followers">
                    <i class="fa fa-share-alt"></i>
                    <p>Share with: followers</p>
                </div>
            </div>
        </div>

	</div>

</div>
<script src="{{ url_for('static',filename='js/newsfeed.js') }}"></script>
{% endblock %}