{% extends 'new_template.html' %}

{% block content %}
<div class="row newsfeed--content">
{% for person in persons %}
	<div class="col-sm-8 col-sm-offset-2">
		<div class="row newsfeed--header">
			<div class="col-sm-2" style="padding-left: 0px;">
			{% if (person.picture == '') %}
				<i class="fa fa-user user--icon"></i>
			{% else %}
				<div class="profile--picture">
					<img src="{{ url_for('static',filename=person.picture) }}">
				</div>
			{% endif %}
			</div>
			<div class="col-sm-1 newsfeed--name">
				<a href="#">{{ person.name }}</a>
			</div>
			<div class="col-sm-2 newsfeed--duration">
				<p><img src="{{ url_for('static',filename='images/clock-icon.png') }}">&nbsp;
				{{ person.duration }}</p>
			</div>
			<div class="col-sm-3 newsfeed--charge">
				<div class="progress newsfeed--progress">
					<input type="text" value="{{ (person.supporters_current * 100)/ person.supporters_goal }}" id="supporters--percent" hidden>
					<div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>

				<div class="progress newsfeed--progress2">
					<input type="text" value="{{ (person.volunters_current * 100)/ person.volunters_goal }}" id="volunters--percent" hidden>
					<div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>
			</div>
			<div class="col-sm-4 newsfeed--goals">
				<p>{{ person.supporters_current }}/{{ person.supporters_goal }} supporters goals<br>
				{{ person.volunters_current }}/{{ person.volunters_goal }} volunteers goals</p>
			</div>
		</div>
		<div class="row newsfeed--body">
			<div class="col-sm-12">
				<div class="col-sm-8 newsfeed--problem">
					{{ person.problem }}<br>{{ person.problem }}<br>{{ person.problem }}
				</div>
			</div>
			<div class="col-sm-12" style="margin-top: 291px;">
				<div class="col-sm-8 col-sm-offset-4 newsfeed--proposal">
					{{ person.proposal }}<br>{{ person.proposal }}<br>{{ person.proposal }}
				</div>
			</div>
		</div>
		<div class="row newsfeed--footer">
			<div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
				<div class="col-sm-1 redflag--img">
					<img src="{{ url_for('static',filename='images/redflag.png') }}">
				</div>
				<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
					<input type="text" value="{{ (person.liked|length * 100)/(person.liked|length + person.disliked|length) }}" id="percent" hidden>
					<div class="input--percent">	
						<label>	Support Rate: </label>
					</div>
				</div>
				<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
					<input type="button" name="more-info" class="newsfeed--button">
				</div>
			</div>
		</div>
		<div class="row newsfeed--persons">
			<div class="col-sm-12">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/check-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes">
					<ul>
					{% for likes in person.liked %}
						{% if loop.index <= 3 %}
							<a href="#"><li>{{ likes.name }}</li></a>
						{% endif %}
					{% endfor %}
						<a href="#" class="last--liked"><li>+ {{ person.liked|length -3 }} people</li></a>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/x-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes">
					{% for dislikes in person.disliked %}
					<ul>
						<a href="#"><li>{{ dislikes.name }}</li></a>
					</ul>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row newsfeed--share">
				<div class="col-sm-12 newsfeed--share--icons">
					<div class="col-sm-6" style="padding:0;">
						<img src="{{ url_for('static',filename='images/x-icon.png') }}">
						<img src="{{ url_for('static',filename='images/check-icon.png') }}">
						<img src="{{ url_for('static',filename='images/checkmark.png') }}">
						<img src="{{ url_for('static',filename='images/ignore-icon.png') }}">
					</div>
					<div class="col-sm-6 newsfeed--followers">
						<i class="fa fa-share-alt"></i>
						<p>Share with: followers</p>
					</div>
				</div>
			</div>
	</div>
{% endfor %}

</div>
<script src="{{ url_for('static',filename='js/newsfeed.js') }}"></script>
{% endblock %}