{% extends 'new_template.html' %}

{% block content %}
<div class="row newsfeed--content">
	
	<!-- Modal -->
    <div class="modal fade" id="invitation-modal-info" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-top:100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal--invitation"></p>
                </div>
            </div>
        </div>
    </div>
	
	<div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
	
	<div class="col-sm-8 col-sm-offset-2" id="newsfeed__body" hidden>
        <div class="row newsfeed--header">
        	<input type="hidden" id="list__id">
        	<input type="hidden" class="idea__id">
			<div class="col-sm-1" style="padding-left: 0px;">
				<div class="profile--picture">
                    <img src="" id="picture__profile" hidden>
					<img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}">
				</div>
			</div>
			<div class="col-sm-3 newsfeed--name">
				<a href="#"></a>
			</div>
			<div class="col-sm-1 newsfeed--duration">
				<p>
					<img src="{{ url_for('static',filename='images/clock-icon.png') }}">&nbsp;
					<p class="duration--info"></p>
				</p>
			</div>
			<div class="col-sm-2 newsfeed--charge">
				<div class="progress newsfeed--progress">
					<input type="text" value="" id="supporters--percent" hidden>
					<div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>

				<div class="progress newsfeed--progress2">
					<input type="text" value="" id="volunters--percent" hidden>
					<div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
				</div>
			</div>
			<div class="col-sm-2 newsfeed--goals">
				<p></p>
			</div>
		</div>
		
		<span class="glyphicon glyphicon-chevron-left arrow__newsfeed__left" id="left__feed"></span>
        <div class="row newsfeed--body">
			
			<div class="col-sm-12 newsfeed__concern" >
				<div class="col-sm-8 newsfeed--problem">
				</div>
			</div>
			<div class="col-sm-12" style="position:relative;top: -15px;">
				<div class="col-sm-11 col-sm-offset-1 newsfeed--proposal">
					<br><br>
				</div>
			</div>
			
		</div>
		
		
        <div class="row newsfeed--footer" style="padding: 0 15px;">
			<div class="col-sm-10 modal--info" style="padding-right: 0px; padding-left: 0px;z-index:1;">
				<div class="col-sm-1 vote--on" style="display:none;">
					<b>VOTE <span class="glyphicon glyphicon-triangle-bottom"></span></b>
				</div>
				<div class="col-sm-8 newsfeed--support" style="padding-right:0;">
					<div class="input--percent">
						<label></label>
					</div>
				</div>
				<div class="col-sm-1 redflag--img">
					<img class="redflag" src="{{ url_for('static',filename='images/redflag.png') }}">
				</div>
				<div class="col-sm-2 neewsfeed--moreinfo">
					<input type="button" name="more-info" class="newsfeed--button">
				</div>
				<div id="more--info--modal" hidden></div>
			</div>

		<div class="row newsfeed--share">
            <div class="col-sm-6 newsfeed--share--icons">
                <div class="col-sm-12" style="padding:4px;">
                    <div id="rejected" class="vote__idea--button"></div>
                    <div id="supported" class="vote__idea--button"></div>
                    <div id="support__plus--button" class="vote__idea--button"></div>
                    <div id="ignored" class="vote__idea--button"></div>
                </div>
                <div class="col-sm-6 newsfeed--followers hidden" >
                    <i class="fa fa-share-alt"></i>
                    <p >Share with: followers</p>
                </div>
            </div>
        </div>

        <div class="row newsfeed--persons">
			<div class="col-sm-12">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/check-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes" id="newsfeed--supporters">
					<ul>
					</ul>
				</div>
			</div>
			<div class="col-sm-12" style="margin-top: -12px;">
				<div class="col-sm-1" style="padding:0;">
					<img src="{{ url_for('static',filename='images/x-small.png') }}">
				</div>
				<div class="col-sm-11 newsfeed--likes" id="newsfeed--rejectors">
					<ul>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>
<script src="{{ url_for('static',filename='js/newsfeed.js') }}"></script>
{% endblock %}