{% extends 'new_template.html' %}
{% block content %}

<div class="container__participants" style="margin-top: 8%; margin-bottom: 8%;">
 <h3 style="font-family: lato_bold; margin-bottom: 0;">Participants</h3>
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span><input class="form-control" type="text" name="search" placeholder="Search..." required/></span>
                        <span class="input-group-btn" style="padding-right: 10px;">
                            <button class="btn btn__search" type="submit"><span>Go!</button>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->            
    </div>
    <div class="row participant__info"> 
        {% for participant in participants %}
        	<div class="col-sm-12">
        		<div class="col-sm-2">
        			<div class="participant__profile--pic">
        				{% if (participant.picture == '') %}
							<i class="fa fa-user user--icon"></i>
						{% else %}
							<div class="profile--picture">
								<img src="{{ url_for('static',filename=participant.picture) }}">
							</div>
						{% endif %}
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__name">
        				<a href="#"> {{ participant.username }}</a><br>
        				<label> {{ participant.name }} {{ participant.lastname }} </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__active--p">
        				<label> {{ participant.active_publications }}</label><br>
        				<label> Active publications </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__followers">
        				<label> {{ participant.followers }}</label><br>
        				<label> Followers </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__following">
        				<label> {{ participant.following }}</label><br>
        				<label> Following </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__setting">
        				<span data-toggle="modal" data-target="#modal_participant" class="glyphicon glyphicon-cog"></span>
        			</div>
        		</div>
        	</div>
        {% endfor %}
    </div>
    <div class="row participant__body">
    	<div class="col-sm-6 participant__content">
    		<div class="participant__invite">
    			<div class="invite__header">
    				<p><img src="{{ url_for('static',filename='images/invite-icon.png') }}">Invite people to benefit together from Consensus</p>
    			</div>
    			<div class="invite__body">
	    			<p>1. Suggestion tell them first all about Consensus and why you are using it going to user.</p>
	    			<p>2. Type your contacts e-mail to send them an invitation to connect with you:</p>
	    			<textarea>some e-mails here</textarea>
	    			<input class="form-control invite__button" type="button" value="Send Invitation">
    			</div>
    		</div>
    		<div class="participant__follow">
            <ul class="nav nav-tabs">    
                <li class="active"><a data-toggle="tab" href="#home">Following</a></li>
                <li><a data-toggle="tab" href="#menu1">Followers</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane active addproposal--step2__div">
                  <ul class="addproposal--step2">
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Emile</a> <br>Emile Godard </p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">JJacques</a> <br>Jean Jacques Richelieu </p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Zoe</a> <br>Zoe Martin Pescador </p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
                  </ul>
                </div>
            <div id="menu1" class="tab-pane">
              <ul class="addproposal--step2">
                <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Emile</a> <br>Emile Godard </p></li>
                <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">JJacques</a> <br>Jean Jacques Richelieu </p></li>
                <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Zoe</a> <br>Zoe Martin Pescador </p></li>
                <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Joe</a> <br>Joe Black</p></li>
              </ul>
            </div>
          </div>
          <div class="tabs__follow"> 
            <input class="form-control invite__button" style="margin-right: -35px;" type="button" value="Follow">
            <input class="form-control invite__button" type="button" value="Stop following">
          </div>
        </div>
		</div>

    	<div class="col-sm-6 participant__newsfeed" style="min-height: 1024px;">
    	{% for feed_p in feed %}
        <div class="col-sm-12">  
            <div class="row home--header">
                <div class="col-sm-2" style="padding-left: 0px;margin-left: -15px;">
                {% if (feed_p.picture == '') %}
                    <i class="fa fa-user user--icon"></i>
                {% else %}
                    <div class="home--profile--picture">
                        <img src="{{ url_for('static',filename=feed_p.picture) }}">
                    </div>
                {% endif %}
                </div>
                <div class="col-sm-1 home--name">
                    <a href="#">{{ feed_p.name }}</a>
                </div>
                <div class="col-sm-2 newsfeed--duration">
                    <p><img style="width: 15px;position: relative;top: -3px;" src="{{ url_for('static',filename='images/clock-icon.png') }}">&nbsp;
                    {{ feed_p.duration }}</p>
                </div>
                <div class="col-sm-3 home--charge">
                    <div class="progress home--progress">
                        <input type="text" value="{{ (feed_p.supporters_current * 100)/ feed_p.supporters_goal }}" id="supporters--percent" hidden>
                        <div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
                    </div>

                    <div class="progress home--progress2">
                        <input type="text" value="{{ (feed_p.volunters_current * 100)/ feed_p.volunters_goal }}" id="volunters--percent" hidden>
                        <div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=""></div>
                    </div>
                </div>
                <div class="col-sm-4 newsfeed--goals">
                    <p>{{ feed_p.supporters_current }}/{{ feed_p.supporters_goal }} supporters goals<br>
                    {{ feed_p.volunters_current }}/{{ feed_p.volunters_goal }} volunteers goals</p>
                </div>
            </div>
            <div class="row home--proposals--body">
                <div class="col-sm-12">
                    <div class="col-sm-8 newsfeed--problem">
                        {{ feed_p.problem }}<br>{{ feed_p.problem }}<br>{{ feed_p.problem }}
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 180px;">
                    <div class="col-sm-8 col-sm-offset-4 newsfeed--proposal">
                        {{ feed_p.proposal }}<br>{{ feed_p.proposal }}<br>{{ feed_p.proposal }}
                    </div>
                </div>
            </div>
            <div class="row newsfeed--footer">
                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                    <div class="col-sm-1 redflag--img">
                        <img src="{{ url_for('static',filename='images/redflag.png') }}">
                    </div>
                    <div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
                        <input type="text" value="{{ (feed_p.liked|length * 100)/(feed_p.liked|length + feed_p.disliked|length) }}" id="percent" hidden>
                        <div class="input--percent">    
                            <label> Support Rate: </label>
                        </div>
                    </div>
                    <div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
                        <input type="button" name="more-info" class="home--button">
                    </div>
                </div>
            </div>
            <div class="row newsfeed--persons">
                <div class="col-sm-12">
                    <div class="col-sm-1" style="padding:0;">
                        <img src="{{ url_for('static',filename='images/check-small.png') }}">
                    </div>
                    <div class="col-sm-11 newsfeed--likes">
                        <ul>
                        {% for likes in feed_p.liked %}
                            {% if loop.index <= 3 %}
                                <a href="#"><li>{{ likes.name }}</li></a>
                            {% endif %}
                        {% endfor %}
                            <a href="#" class="last--liked"><li>+ {{ feed_p.liked|length -3 }} people</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-1" style="padding:0;">
                        <img src="{{ url_for('static',filename='images/x-small.png') }}">
                    </div>
                    <div class="col-sm-11 newsfeed--likes">
                        {% for dislikes in feed_p.disliked %}
                        <ul>
                            <a href="#"><li>{{ dislikes.name }}</li></a>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row home--share">
                <div class="col-sm-12 home--share--icons">
                    <div class="col-sm-6" style="padding:0;width: 100%;">
                        <img src="{{ url_for('static',filename='images/x-icon.png') }}">
                        <img style="width: 50px;" src="{{ url_for('static',filename='images/check-icon.png') }}">
                        <img style="width: 48px;" src="{{ url_for('static',filename='images/checkmark.png') }}">
                        <img style="width: 50px;" src="{{ url_for('static',filename='images/ignore-icon.png') }}">
                    </div>
                    <div class="col-sm-6 home--followers" style="width: 100%;">
                        <i class="fa fa-share-alt"></i>
                        <p>Share with: followers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    	</div>
    </div>
    <div id="modal_participant" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><span class="glyphicon glyphicon-cog" style="margin: 0 10px 0 10px;"></span>Participants</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="col-xs-12">
	      		<div class="col-xs-8">
	        		<p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Edit your personal data</p><br>
	        	</div>
		        <div class="col-xs-12">
		        	<div class="col-sm-6">
		        	<div class="p__div">
		        		<span class="p__span">Full name: </span><input class="form-control" type="text" id="p_fullname" name="p_fullname" placeholder="Full name">
		        	</div>
		        	<div class="p__div">
		        		<span class="p__span">Username: </span><input class="form-control" type="text" id="p_username" name="p_username" placeholder="Username">
		        	</div>
		        	<div class="p__div">
		        		<span class="p__span">E-mail: </span><input class="form-control" type="text" id="p_email" name="p_email" placeholder="example@example.com">
		        		<img class="p__mail-img" src="{{ url_for('static',filename='images/mail-icon.jpg') }}">
		        	</div>
		        	<div class="p__div">
		        		<span class="p__span">Confirm E-mail: </span><input class="form-control" type="text" id="p_confirm-e" name="p_confirm-e" placeholder="example@example.com">
		        	</div>
		        	</div>
		        	<div class="col-sm-6">
		        		<div class="input-group">
		        			<img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}" class="user--icon--login" style="height: 65px;top: 10px;position: relative;">
				                <label class="input-group-btn">
				                  <i class="fa fa-info" aria-hidden="true"></i>
				                  <span class="btn" style="font-size: 11px;">
				                    Choose:<input type="file" style="display: none;" id="profile_photo">
				                  </span>
				                </label>
				                <input style="height: 29px;top: -1px;" type="text" class="form-control" placeholder=".../Home/" readonly>
				                <br>
			            </div>
			            <div class="p__div" style="margin-top: 78px;padding-left: 35px;">
		                	<span class="p__span">Position:</span><input class="form-control" type="text" id="p_position" name="p_position" placeholder="Position">
		                </div>
		                <div class="p__div" style="padding-left: 35px;">
		                	<span class="p__span">Group:</span><select class="form-control" id="p_group" name="p_group" placeholder="Group">Group</select>
		                </div>
		        	</div>
		        </div>
	        	<div class="col-xs-12">
	        		<br><p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Privacy options</p>
	        	</div>
	        	<div class="col-xs-12 register--check">
	        		<input type="checkbox" name="Public_p"> Go fully public
	        		<input type="checkbox" style="margin-left: 300px;" name="Public_p"> Go fully anonymous
	        	</div>
	        	<div class="col-xs-12" style="padding-left: 35px;">
	        		<input type="checkbox" name="Public_p"> Public profile: users will be able to look you up in a public list<br><br>
	        		<input type="checkbox" name="Public_p"> Supporting proposals visible: your followers will see your name<br><br>
	        		<input type="checkbox" name="Public_p"> Rejecting proposals visible: your followers will see your name in the list of proposal oponents
	        	</div>
	        	<div class="col-xs-12">
	        	<br>
	        		<p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>E-mail options</p>
	       		</div>
		       <div class="col-xs-12 register--check" style="padding-left: 35px;">
	        		<input type="checkbox" name="Public_p"> Send notifications of new follower by e-mail
	        	</div>

          	</div>
            <div class="col-sm-12 modal-cancel" style="margin-top: 25px;">
          		<button type="button" class="register--modal" data-dismiss="modal">Update info</button>
	        	<!--<button type="button" class="cancel--modal" data-dismiss="modal">Close</button>-->
	       </div>
	      </div>
	    </div>
	  </div>
</div>

{% endblock %}