{% extends 'new_template.html' %}
{% block content %}

<div class="container__participants" style="margin-top: 8%;">
 <h3 style="font-family: lato_bold; margin-bottom: 0;">Participants</h3>
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span><input class="form-control" type="text" name="search" placeholder="Search..." required/></span>
                        <span class="input-group-btn" style="padding-right: 10px;">
                            <button class="btn btn__search" type="submit"><span>Go!</button>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->            
    </div>
    <div class="row participant__info"> 
        {% for participant in participants %}
        	<div class="col-sm-12">
        		<div class="col-sm-2">
        			<div class="participant__profile--pic">
        				{% if (participant.picture == '') %}
							<i class="fa fa-user user--icon"></i>
						{% else %}
							<div class="profile--picture">
								<img src="{{ url_for('static',filename=participant.picture) }}">
							</div>
						{% endif %}
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__name">
        				<a href="#"> {{ participant.username }}</a><br>
        				<label> {{ participant.name }} {{ participant.lastname }} </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__active--p">
        				<label> {{ participant.active_publications }}</label><br>
        				<label> Active publications </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__followers">
        				<label> {{ participant.followers }}</label><br>
        				<label> Followers </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__following">
        				<label> {{ participant.following }}</label><br>
        				<label> Following </label>
        			</div>
        		</div>
        		<div class="col-sm-2">
        			<div class="participant__setting">
        				<span class="glyphicon glyphicon-cog"></span>
        			</div>
        		</div>
        	</div>
        {% endfor %}
    </div>
    <div class="row participant__body">
    	<div class="col-sm-6 participant__content">
    		<div class="participant__invite">
    			<div class="invite__header">
    				<p><img src="{{ url_for('static',filename='images/invite-icon.png') }}">Invite people to benefit together from Consensus</p>
    			</div>
    			<div class="invite__body">
	    			<p>1. Suggestion tell them first all about Consensus and why you are using it going to user.</p>
	    			<p>2. Type your contacts e-mail to send them an invitation to connect with you:</p>
	    			<textarea>some e-mails here</textarea>
	    			<input class="form-control invite__button" type="button" value="Send Invitation">
    			</div>
    		</div>
    		<div class="participant__followers">
		        <nav class="left tabs">
		            <a data-toggle="tab" id="tabDomestic" class="active" href="#local">Following</a>
		            <a data-toggle="tab" id="tabInternational" href="#international">Followers</a>
		        </nav>
		        <div class="tab-content">
		            
		    	</div>
		    </div>
		</div>
    	<div class="col-sm-6 participant__newsfeed">
    		
    	</div>
    </div>
</div>

{% endblock %}