{% extends 'new_template.html' %}

{% block content %}
<div class="row home--content--logged">
	
	<!-- Modal -->
    <div class="modal fade" id="invitation-modal-info" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-top:100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal--invitation"></p>
                </div>
            </div>
        </div>
    </div>
	
	<div class="col-sm-12 home--voted">
		<div class="col-sm-3" style="padding-right:0;width: 320px;">
			<h2>You Voted:</h2>	<br>
			<div class="home--select">
				<label class="selected--option" ><img id="supported" style="width:25px;" src="{{ url_for('static',filename='images/checkmark.png') }}">Supported + Volunteers ideas </label>
				<span class="glyphicon glyphicon-triangle-bottom select--triangle"></span>
				<div class="select--options">
					<label class="unselected--option"><img id="ignored" src="{{ url_for('static',filename='images/ignore-icon.png') }}">See the ignored ideas</label>
					<label class="unselected--option" ><img id="rejected" src="{{ url_for('static',filename='images/x-icon.png') }}">See the rejected ideas </label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="spinner" style="right:50%;top:25%;position:absolute;">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
	
	<div class="container col-sm-12"  id="home--proposals" hidden >
		<span id="Today"><legend><h2 style="text-align: right">Today</h2></legend></span>
		<div class="container col-sm-12" id="today"></div>
		<span id="Lastweek"><legend><h2 style="text-align: right">Last week</h2></legend></span>
		<div class="container col-sm-12" id="lastweek"></div>
		<span id="Thismonth"><legend><h2 style="text-align: right">This month</h2></legend></span>
		<div class="container col-sm-12" id="thismonth"></div>
	</div>
	
	
</div>
<script src="{{ url_for('static',filename='js/home.js') }}"></script>
{% endblock %}