{% extends 'new_template.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home_template.css') }}">
<div class="row home--content--logged" id="homeContainer">
	
	<!-- Modal -->
    <div class="modal fade" id="invitation-modal-info" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-top:100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal--invitation"></p>
                </div>
            </div>
        </div>
    </div>
	
	<div class="col-sm-12 home--voted">
		<div class="col-sm-3" style="padding-right:0;width: 280px;">
			<h2>You Voted:</h2>	<br>
			<div class="home--select">
				<label class="selected--option" ><img id="supported" src="{{ url_for('static',filename='images/check-hover.png') }}">See the supported ideas </label>
				<span class="glyphicon glyphicon-triangle-bottom select--triangle"></span>
				<div class="select--options">
					<label class="unselected--option" style="padding: 5px 0 0px 0px;">
						<img id="ignored" src="{{ url_for('static',filename='images/ignore-hover.png') }}">
						See the ignored ideas
					</label>
					<label class="unselected--option" style="padding: 5px 0 0px 0px;">
						<img id="rejected" src="{{ url_for('static',filename='images/reject-hover.png') }}">
						See the rejected ideas 
					</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="spinner" style="right:50%;top:25%;position:absolute;">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
	
	<div class="container col-sm-12"  id="home--proposals" hidden >
		<span id="uno" hidden><legend><h2 style="text-align: right">Today</h2></legend></span>
		<div class="container col-sm-12" id="today">
			
			<div class="col-sm-6 home--content--proposal" v-for="(idea, index) in day_ideas">
			    <!-- PUBLIC AUTHOR -->
			    <div class="row home--header" v-if="idea.if_author_public">
			        <div class="col-sm-1" style="padding-left: 0px;">
			            <div class="home--profile--picture">
			                <img class="img-circle new--user--icon--login" :src="idea.author_profilepic_url">
		                </div>
	                </div>
	                <div class="col-sm-3 home--name">
	                    <a :href="'/participants'" v-if="idea.author_email == logged_user"><% idea.author_username %></a>
	                    <a :href="'/participants/' + idea.author_email" v-else><% idea.author_username %></a>
	                </div>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <!-- ANONIMOUS AUTHOR -->
	            <div class="row home--header" v-else>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
			        <div class="col-sm-1" style="padding-left: 0px;"></div>
	                <div class="col-sm-3 home--name"></div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <div class="row home--proposals--body" v-bind:style="'background-image: url('+idea.image_url+')'">
	                <div class="col-sm-12 concern__div">
	                    <div class="col-sm-11 newsfeed--problem">
	                        <% idea.concern %>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-11 col-sm-offset-1 newsfeed--proposal">
	                        <% idea.proposal %>
	                    </div>
	                </div>
	            </div> 
	            <div class="row newsfeed--footer">
	                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                    	<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
	                        <div class="input--percent">
	                            <label> Support Rate: <% idea.support_rate %>% </label>
	                        </div>
	                    </div>
	                    <div class="col-sm-1 redflag--img">
	                    	<img class="redflag__home" src="/static/images/redflag.png" @click="showRedFlagModal(index,'today',$event)">
                    	</div>
                    	<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
                    		<input type="button" name="more-info" class="home--button" v-on:click="showMoreInfoModal(index,'today')">
                		</div>
	                    <div id="more--info--modal" class="more__info--home" :class="'more_info_div'" :info="index" hidden>
	                        <p>
	                            <h4>  More information about the problem: </h4> 
	                            <% idea.moreinfo_concern %></br></br>
	                            <h4> More information about the proposal: </h4>
	                            <% idea.moreinfo_proposal %>
	                        </p> 
	                    </div>
	                </div>
	            </div>
                <div class="row home--share">
                	<div class="col-sm-8 home--share--icons">
						<div class="col-sm-6" style="padding:10px 8px;">
							
							<div id="rejected" class="home--share--button" 
							  :class="idea.vote_type == 'rejected' ? 'rejected--voted' : ''"
							  @click="voteIdea('rejected',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'day')">
							</div>
							
  							<div id="supported" class="home--share--button" 
  							  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,0) ? 'supported--voted' : ''"
  							  @click="voteIdea('supported',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'day')">
  						  	</div>
  						  	
                			<div id="supported-plus" class="home--share--button " 
                			  v-if="idea.volunteers_goal_num > 0"
                			  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,1) ? 'supported__plus--voted' : ''"
            			  	  @click="voteIdea('supported-plus',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'day')">
                			</div>
            			  	  
            			</div>
        			</div>
				</div>                		
	            <div class="row newsfeed--persons " style="left: -20px;width: 106%;">
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/check-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (supporter.email == logged_user ? '' : '/' + supporter.email)" 
	                              v-for="supporter in idea.identified_supporters">
	                                <li><% supporter.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_supporters_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/reject-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (rejector.email == logged_user ? '' : '/' + rejector.email)" 
	                              v-for="rejector in idea.identified_rejectors">
	                                <li><% rejector.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_rejectors_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    <!-- END TESTING VUE FUNCTIONS -->
		</div>
		<span id="dos" hidden><legend><h2 style="text-align: right">Last week</h2></legend></span>
		<div class="container col-sm-12" id="lastweek">
			
			<div class="col-sm-6 home--content--proposal" v-for="(idea, index) in week_ideas">
		    
			    <!-- PUBLIC AUTHOR -->
			    <div class="row home--header" v-if="idea.if_author_public">
			        <div class="col-sm-1" style="padding-left: 0px;">
			            <div class="home--profile--picture">
			                <img class="img-circle new--user--icon--login" :src="idea.author_profilepic_url">
		                </div>
	                </div>
	                <div class="col-sm-3 home--name">
	                    <a :href="'/participants'" v-if="idea.author_email == logged_user"><% idea.author_username %></a>
	                    <a :href="'/participants/' + idea.author_email" v-else><% idea.author_username %></a>
	                </div>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <!-- ANONIMOUS AUTHOR -->
	            <div class="row home--header" v-else>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
			        <div class="col-sm-1" style="padding-left: 0px;"></div>
	                <div class="col-sm-3 home--name"></div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <div class="row home--proposals--body" v-bind:style="'background-image: url('+idea.image_url+')'">
	                <div class="col-sm-12 concern__div">
	                    <div class="col-sm-11 newsfeed--problem">
	                        <% idea.concern %>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-11 col-sm-offset-1 newsfeed--proposal">
	                        <% idea.proposal %>
	                    </div>
	                </div>
	            </div> 
	            <div class="row newsfeed--footer">
	                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                    	<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
	                        <div class="input--percent">
	                            <label> Support Rate: <% idea.support_rate %>% </label>
	                        </div>
	                    </div>
	                    <div class="col-sm-1 redflag--img">
	                    	<img class="redflag__home" src="/static/images/redflag.png" @click="showRedFlagModal(index,'lastweek',$event)">
                    	</div>
                    	<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
                    		<input type="button" name="more-info" class="home--button" v-on:click="showMoreInfoModal(index,'lastweek')">
                		</div>
	                    <div id="more--info--modal" class="more__info--home" :class="'more_info_div'" :info="index" hidden>
	                        <p>
	                            <h4>  More information about the problem: </h4> 
	                            <% idea.moreinfo_concern %></br></br>
	                            <h4> More information about the proposal: </h4>
	                            <% idea.moreinfo_proposal %>
	                        </p> 
	                    </div>
	                </div>
	            </div>
                <div class="row home--share">
                	<div class="col-sm-8 home--share--icons">
						<div class="col-sm-6" style="padding:10px 8px;">
							
							<div id="rejected" class="home--share--button" 
							  :class="idea.vote_type == 'rejected' ? 'rejected--voted' : ''"
							  @click="voteIdea('rejected',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'week')">
							</div>
							
  							<div id="supported" class="home--share--button" 
  							  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,0) ? 'supported--voted' : ''"
  							  @click="voteIdea('supported',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'week')">
  						  	</div>
  						  	
                			<div id="supported-plus" class="home--share--button " 
                			  v-if="idea.volunteers_goal_num > 0"
                			  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,1) ? 'supported__plus--voted' : ''"
            			  	  @click="voteIdea('supported-plus',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'week')">
                			</div>
            			  	  
            			</div>
        			</div>
				</div>   
	            <div class="row newsfeed--persons " style="left: -20px;width: 106%;">
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/check-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (supporter.email == logged_user ? '' : '/' + supporter.email)" 
	                              v-for="supporter in idea.identified_supporters">
	                                <li><% supporter.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_supporters_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/reject-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (rejector.email == logged_user ? '' : '/' + rejector.email)" 
	                              v-for="rejector in idea.identified_rejectors">
	                                <li><% rejector.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_rejectors_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    <!-- END TESTING VUE FUNCTIONS -->
		</div>
		<span id="tres" hidden><legend><h2 style="text-align: right">This month</h2></legend></span>
		<div class="container col-sm-12" id="thismonth">
			
			<div class="col-sm-6 home--content--proposal" v-for="(idea, index) in month_ideas">
		    
			    <!-- PUBLIC AUTHOR -->
			    <div class="row home--header" v-if="idea.if_author_public">
			        <div class="col-sm-1" style="padding-left: 0px;">
			            <div class="home--profile--picture">
			                <img class="img-circle new--user--icon--login" :src="idea.author_profilepic_url">
		                </div>
	                </div>
	                <div class="col-sm-3 home--name">
	                    <a :href="'/participants'" v-if="idea.author_email == logged_user"><% idea.author_username %></a>
	                    <a :href="'/participants/' + idea.author_email" v-else><% idea.author_username %></a>
	                </div>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <!-- ANONIMOUS AUTHOR -->
	            <div class="row home--header" v-else>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
			        <div class="col-sm-1" style="padding-left: 0px;"></div>
	                <div class="col-sm-3 home--name"></div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <div class="row home--proposals--body" v-bind:style="'background-image: url('+idea.image_url+')'">
	                <div class="col-sm-12 concern__div">
	                    <div class="col-sm-11 newsfeed--problem">
	                        <% idea.concern %>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-11 col-sm-offset-1 newsfeed--proposal">
	                        <% idea.proposal %>
	                    </div>
	                </div>
	            </div> 
	            <div class="row newsfeed--footer">
	                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                    	<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
	                        <div class="input--percent">
	                            <label> Support Rate: <% idea.support_rate %>% </label>
	                        </div>
	                    </div>
	                    <div class="col-sm-1 redflag--img">
	                    	<img class="redflag__home" src="/static/images/redflag.png" @click="showRedFlagModal(index,'thismonth',$event)">
                    	</div>
                    	<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
                    		<input type="button" name="more-info" class="home--button" v-on:click="showMoreInfoModal(index,'thismonth')">
                		</div>
	                    <div id="more--info--modal" class="more__info--home" :class="'more_info_div'" :info="index" hidden>
	                        <p>
	                            <h4>  More information about the problem: </h4> 
	                            <% idea.moreinfo_concern %></br></br>
	                            <h4> More information about the proposal: </h4>
	                            <% idea.moreinfo_proposal %>
	                        </p> 
	                    </div>
	                </div>
	            </div>
                <div class="row home--share">
                	<div class="col-sm-8 home--share--icons">
						<div class="col-sm-6" style="padding:10px 8px;">
							
							<div id="rejected" class="home--share--button" 
							  :class="idea.vote_type == 'rejected' ? 'rejected--voted' : ''"
							  @click="voteIdea('rejected',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'month')">
							</div>
							
  							<div id="supported" class="home--share--button" 
  							  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,0) ? 'supported--voted' : ''"
  							  @click="voteIdea('supported',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'month')">
  						  	</div>
  						  	
                			<div id="supported-plus" class="home--share--button " 
                			  v-if="idea.volunteers_goal_num > 0"
                			  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,1) ? 'supported__plus--voted' : ''"
            			  	  @click="voteIdea('supported-plus',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'month')">
                			</div>
            			  	  
            			</div>
        			</div>
				</div>   
	            <div class="row newsfeed--persons " style="left: -20px;width: 106%;">
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/check-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (supporter.email == logged_user ? '' : '/' + supporter.email)" 
	                              v-for="supporter in idea.identified_supporters">
	                                <li><% supporter.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_supporters_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/reject-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (rejector.email == logged_user ? '' : '/' + rejector.email)" 
	                              v-for="rejector in idea.identified_rejectors">
	                                <li><% rejector.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_rejectors_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    <!-- END TESTING VUE FUNCTIONS -->
		</div>
		<span id="cuatro" hidden><legend><h2 style="text-align: right">Older</h2></legend></span>
		<div class="container col-sm-12" id="older">
			
			<div class="col-sm-6 home--content--proposal" v-for="(idea, index) in older_ideas">
		    
			    <!-- PUBLIC AUTHOR -->
			    <div class="row home--header" v-if="idea.if_author_public">
			        <div class="col-sm-1" style="padding-left: 0px;">
			            <div class="home--profile--picture">
			                <img class="img-circle new--user--icon--login" :src="idea.author_profilepic_url">
		                </div>
	                </div>
	                <div class="col-sm-3 home--name">
	                    <a :href="'/participants'" v-if="idea.author_email == logged_user"><% idea.author_username %></a>
	                    <a :href="'/participants/' + idea.author_email" v-else><% idea.author_username %></a>
	                </div>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <!-- ANONIMOUS AUTHOR -->
	            <div class="row home--header" v-else>
	                <div class="col-sm-1 newsfeed--duration">
	                    <p>
	                        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">&nbsp;
	                        <p class="duration--info">&nbsp; <% idea.duration %></p>
	                    </p>
	                </div>
			        <div class="col-sm-1" style="padding-left: 0px;"></div>
	                <div class="col-sm-3 home--name"></div>
	                <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
	                    <div class="progress home--progress">
	                        <div class="progress-bar newsfeed--bar"  
	                            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
	                            aria-valuemax="100" v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'">
	                        </div>
	                    </div>
	                    <div class="progress home--progress2" v-if="idea.volunteers_goal_num > 0">
	                        <div class="progress-bar newsfeed--bar2" role="progressbar" 
	                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" 
	                            v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-3 newsfeed--goals newsfeed--goals3">
	                    <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
	                        <p v-if="idea.volunteers_goal_num > 0">
	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
	                        </p><br>
	                    </p>
	                </div>
	            </div>
	            
	            <div class="row home--proposals--body" v-bind:style="'background-image: url('+idea.image_url+')'">
	                <div class="col-sm-12 concern__div">
	                    <div class="col-sm-11 newsfeed--problem">
	                        <% idea.concern %>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-11 col-sm-offset-1 newsfeed--proposal">
	                        <% idea.proposal %>
	                    </div>
	                </div>
	            </div> 
	            <div class="row newsfeed--footer">
	                <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                    	<div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
	                        <div class="input--percent">
	                            <label> Support Rate: <% idea.support_rate %>% </label>
	                        </div>
	                    </div>
	                    <div class="col-sm-1 redflag--img">
	                    	<img class="redflag__home" src="/static/images/redflag.png" @click="showRedFlagModal(index,'older',$event)">
                    	</div>
                    	<div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
                    		<input type="button" name="more-info" class="home--button" v-on:click="showMoreInfoModal(index,'older')">
                		</div>
	                    <div id="more--info--modal" class="more__info--home" :class="'more_info_div'" :info="index" hidden>
	                        <p>
	                            <h4>  More information about the problem: </h4> 
	                            <% idea.moreinfo_concern %></br></br>
	                            <h4> More information about the proposal: </h4>
	                            <% idea.moreinfo_proposal %>
	                        </p> 
	                    </div>
	                </div>
	            </div>
                <div class="row home--share">
                	<div class="col-sm-8 home--share--icons">
						<div class="col-sm-6" style="padding:10px 8px;"> 
							
							<div id="rejected" class="home--share--button" 
							  :class="idea.vote_type == 'rejected' ? 'rejected--voted' : ''"
							  @click="voteIdea('rejected',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'older')">
							</div>
							
  							<div id="supported" class="home--share--button" 
  							  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,0) ? 'supported--voted' : ''"
  							  @click="voteIdea('supported',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'older')">
  						  	</div>
  						  	
                			<div id="supported-plus" class="home--share--button " 
                			  v-if="idea.volunteers_goal_num > 0"
                			  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,1) ? 'supported__plus--voted' : ''"
            			  	  @click="voteIdea('supported-plus',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,'older')">
                			</div>
            			  	  
            			</div>
        			</div>
				</div>   
	            <div class="row newsfeed--persons " style="left: -20px;width: 106%;">
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/check-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (supporter.email == logged_user ? '' : '/' + supporter.email)" 
	                              v-for="supporter in idea.identified_supporters">
	                                <li><% supporter.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_supporters_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	                <div class="col-sm-12">
	                    <div class="col-sm-1" style="padding:0;">
	                        <img style="width:25px;" src="/static/images/reject-hover.png">
	                    </div>
	                    <div class="col-sm-11 newsfeed--likes">
	                        <ul class="ul--liked">
	                            <a :href="'/participants' + (rejector.email == logged_user ? '' : '/' + rejector.email)" 
	                              v-for="rejector in idea.identified_rejectors">
	                                <li><% rejector.username %></li>
	                            </a>
	                            <a href="#" class="last--liked"><li><% idea.unidentified_rejectors_text %></li></a>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    <!-- END TESTING VUE FUNCTIONS -->
		</div>
	</div>
	
</div>
<script src="https://unpkg.com/vue"></script>
<script src="{{ url_for('static',filename='js/home.js') }}"></script>
{% endblock %}