<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/adaptive.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/angular.min.js') }}"></script>
	<title>Consensus</title>
</head>
<body class="container">

    <nav class="navbar navbar-fixed-top nav--style">
    <!--<a data-toggle="collapse" href="#menu--mobile"><span class="glyphicon glyphicon-menu-hamburger"></span></a>-->
    <a href="#" data-toggle="modal" data-target="#modal_proposal1" class="add--proposal--button"><i class="fa fa-lightbulb-o"></i> Create Proposal</a>
  <div id="#menu--mobile">
    <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Participants</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span> Top ten proposals</a></li>
    </ul>
  </div>
  <div class="navbar-header primary--header">
          <a class="navbar-brand" href="#">CONSENSUS</a>
    </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>
