<!DOCTYPE html>
<html>
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <script src="{{ url_for('static',filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/search-plugin.js') }}"></script>
    
    <!-- new pluggin -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/jquery.Jcrop.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='pluggin/SimpleCropper/css/style-example.css') }}"> 
    <script src="{{ url_for('static',filename='pluggin/SimpleCropper/js/jquery.Jcrop.js') }}"></script>   
    <script src="{{ url_for('static',filename='pluggin/SimpleCropper/js/jquery.SimpleCropper.js') }}"></script>   
    <!-- end new pluggin -->
    
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/adaptive.css') }}">-->
	<title>Consensus</title>
	
	<!-- DELETE CACHE -- ALWAYS -->
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-control" content="no-cache">
</head>
<style>
body,
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: 1200px;
}
</style>
<body class="container">
    <div id="loader--general">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <input type="text" value="{{ message.user }}" hidden id="host_email">
    <nav class="navbar navbar-fixed-top nav--style">
    <div class="menu--mobile--icon"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
    <a href="#" data-toggle="modal" data-target="#modal_proposal1" class="add--proposal--button"></a>
    <!-- <span class="glyphicon glyphicon-chevron-down logout__button" aria-hidden="true" ></span> -->
    <span class="glyphicon glyphicon-log-out logout__button" aria-hidden="true" data-toggle="modal" data-target="#logout__modal"></span>
    <!-- <span class="glyphicon glyphicon-off logout__button" aria-hidden="true" ></span> -->
  <div id="#menu--mobile">
    <ul class="nav navbar-nav">
        <li><a id="nav--home" href="/home"><img src="{{ url_for('static',filename='images/home-icon.png') }}"> Home</a></li>
        <li><a id="nav--participants" href="/participants"><img src="{{ url_for('static',filename='images/user-icon.png') }}"> Participants</a></li>
        <li><a id="nav--top_ten" href="/topten"><img src="{{ url_for('static',filename='images/top-icon.png') }}"> Top ten proposals</a></li>
    </ul>
  </div>
  <div class="navbar-header primary--header">
      <a id="middle--home--button" class="navbar-brand" href="/home">CONSENSUS</a>
    </div>
    </nav>
    <img style="display:none;" id="defultimg__bimage"></img>
    <!-- LOGOUT Modal -->
    <div class="modal fade" id="logout__modal" role="dialog" style="margin-top: 100px;">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Logout</h4>
            </div>
            <div class="modal-body">
              <p style="font-size: 16px;">Are you sure you want to end session?</p>
            </div>
            <div class="modal-footer" style="height:40px;">
              <button type="button" id="accept__logout">Accept</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
    </div>
    <!-- END LOGOUT Modal -->

    <!--  ************************** ADD PROPOSAL 1 ******************-->
    <div id="modal_proposal1" class="modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Proposal (1/3)</h4>
          </div>
          <div class="modal-body">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <p class="addproposal--summarize">Firts: Summarize your proposal</p>
                    <p>OPTIONAL: A shared issue that you feel strongly about and for which you have proposal (140 characters).</p>
                    <div class="form-group">
                        <input type="text" name="" id="concern" class="form-control" required maxlength="140">
                        <br><p>A proposal that may be consensual (140 characters). </p>
                        <input type="text" name="" id="proposal" class="form-control" required maxlength="140">
                        <p class="edit--proposal--hint">
                            REMARK: if you change the proposal it will be re-started and re-sent to all the voters
                        </p>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:20px;">
                    <div class="col-xs-6" style="position: relative;top:70px;text-align: center;">
                        <p>
                            Do you want to add a background photo? <br>
                            Click the image to change it!
                        </p>
                        <!--
                        <p>Do you want to add a background photo?</p>
                        <div class="input-group">
                            <label class="input-group-btn">
                              <i class="fa fa-info" aria-hidden="true"></i>
                              <span class="btn">
                                Choose:<input type="file" style="display: none;" id="fileUpload">
                              </span>
                            </label>
                            <input type="text" value="" style="margin-left:10px;" id="file" class="form-control" placeholder=".../Home/" readonly>
                        </div>
                        -->
                    </div>
                    <div class="col-xs-6">
                        <div class="cropme2" id="cropme_bidea"></div>
                        <!--
                        <div id="image-holder" class="addproposal--img">
                            <img src="{{ url_for('static',filename='images/fondo-c.png') }}" class="thumb-image" >
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-8 col-xs-offset-2">
                        <br><br><p class="addproposal--optional">OPTIONAL: write more information about the proposal</p>
                    </div>
                    <div class="col-xs-12">
                        <br><p>OPTIONAL: more info on the shared issue that you feel strongly about.</p>
                        <textarea class="form-control" id="moreinfo_concern"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <br><p>OPTIONAL: more info on your proposal and why you think others will agree as well</p>
                        <textarea class="form-control" id="moreinfo_proposal"></textarea>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-12 modal-next">
                <button id="next" ><img src="{{ url_for('static',filename='images/next.png') }}"></button>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!--  ************************** END ADD PROPOSAL 1 ******************-->
    <!--  ************************** ADD PROPOSAL 2 ******************-->
    <div id="modal_proposal2" class="modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Proposal (2/3)</h4>
          </div>
          <div class="modal-body">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <p class="addproposal--summarize">Second: Select your audience</p>
                    <p>In first place, only your followers will receive your proposal <br>
                    They will vote on it and, if they agree, the proposal will be diffused to their contacts. <br>
                    Eventually, your proposal may reach a big number of participants in Consensus.</p>
                </div>
                <div class="col-xs-12 checkbox--selection">
                    <p>Select what followers will receive your proposal</p>
                    <p>Select: 
                        <a href="#" id="select_all">All</a> | 
                        <a href="#" id="select_none">None</a>
                    </p>
                    <div  class="list-to-proposal col-xs-12">
                        <ul id="addpro" class="addproposal--step2">
                            
                        </ul>
                        
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 proposal--anonymous">
                        <br><p>Define whether you want your name attached to the proposal, or you prefer to be anonymous.</p>
                        <input type="checkbox" name="proposal-anon" checked> 
                        <label>Display my name in the proposal</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 modal-controls">
                <div class="modal-next">
                    <button onclick="showModal('modal_proposal3', true)"><img src="{{ url_for('static',filename='images/next.png') }}"></button>
                </div>
                <div class="modal-prev">
                    <button onclick="showModal('modal_proposal1', true)"><img src="{{ url_for('static',filename='images/back.png') }}"></button>
                </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!--  ************************** ADD PROPOSAL 2 ******************-->
    <!--  ************************** ADD PROPOSAL 3 ******************-->
    <div id="modal_proposal3" class="modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Proposal (3/3)</h4>
          </div>
          <div class="modal-body">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <p class="addproposal--summarize">Third: Establish your goals.</p>
                    <p>
                        The target number of supporters with which a proposal is labelled "Consensual" has been set to 50 supporters <br><br>
                        OPTIONAL: define the target number of volunteers that may be helping to make proposal reality.
                    </p>
                </div>
                <div class="col-xs-4">
                <br>    
                    <div class="form-group proposal3--volunteers">
                        <input type="number" name="" id="volunteers_goal_num" class="form-control" maxlength="3" min="0" step="0" value="0">
                        <label>Volunteers</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 modal-controls controlss">
                <div class="modal-prev">
                    <button onclick="showModal('modal_proposal2', true)"><img src="{{ url_for('static',filename='images/back.png') }}"></button>
                </div>
                <a class="add--proposal--provisional"></a>
                <a class="edit--proposal--provisional"></a>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!--  ************************** ADD PROPOSAL 3 ******************-->
    <div class="modal fade" id="redflag-modal" role="dialog">
        <div class="modal-dialog modal-md" style="margin-top:100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title"> Why do you want to redflag this proposal? </h4></center>
                </div>
                <div class="modal-body">
                <form method="post">
                    <center><textarea rows="4" cols="50" class="max-area" id="reason"></textarea>
                    <p> Your reasons will transmitted to all the supporters with your name.</p>
                    <p>The proposal will be deleted immediately </p></center></br></br>
                    <input type="hidden" id="idea_index">
                    </form>
                </div>
                <div class="modal-footer" style="height:40px;">
                    <button type="button" id="accept_redflag">Accept</button>
                    <button type="button" data-dismiss="modal">Go back</button>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    
    {% endblock %}

</body>
</html>
