{% extends 'new_template.html' %}
{% block content %}

<div class="container__search--participants" style="margin-top: 8%;" hidden>
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span><input  class="form-control"  oninput="w3.filterHTML('#id01', 'ul#id01 li', this.value)" type="text" name="search" placeholder="Search..." required/ id="search-input-participant2"></span>
                        
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <!-- End of Search Form -->            
    </div>
    
</div>

<div class="container__participants" style="margin-top: 6%; margin-bottom: 8%;">
    <h3 style="font-family: lato_bold;margin-bottom: -10px;margin-left: 40px;">Participants</h3>
    <div class="col-md-6 col-md-offset-3" style="margin-top: -2%;">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span><input class="form-control" type="text" oninput="w3.filterHTML('#id01', 'ul#id01 li', this.value)" name="search" placeholder="Search..." required id="search-input-participant"/></span>
                        <span class="input-group-btn" style="padding-right: 10px;">
                        <div class="back__button" hidden>
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        <span>Go Back</span>
                        </div>
                            
                        </span>
                        </span>
                    </div>
                    <strong><span id="does-exist" hidden> </span></strong>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->            
    </div>

    <div class="col-sm-10 col-sm-push-1 search__participant" hidden>   
        <p>Type name to search for public participants and full e-mail + search button for others. </p>
        <div class="addproposal--step__div"> 
            <ul id="id01" class="addproposal--step2">
                <legend id="legend__board" class="governing" hidden>Governing Board</legend>
                <legend id="legend__board" class="marketing" hidden>Marketing</legend>
                <legend id="legend__board" class="sales" hidden>Sales</legend>
                <legend id="legend__board" class="technical" hidden>Technical</legend>
                <legend id="legend__board" class="human" hidden>Human Resources</legend>
                <div class="spinner" hidden>
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div> 
            </ul>
        </div>
    </div>

    <div class="participant__general">
        <div class="row participant__info"> 
            <div class="row">
                <div class="col-sm-2 profile__col">
                    <div class="participant__profile--pic">
                        <div class="profile--picture">
                            <img src="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 info__col" style="padding:0;">
                    <div class="participant__name">
                        <a href="#"></a><br>
                        <label></label>
                    </div>
                </div>
                <div class="col-sm-3 info2__col info2__col--first">
                    <div class="participant__active--p">
                        <label class="activess"></label><br>
                        <label> Active publications </label>
                    </div>
                </div>
                <div class="col-sm-2 info2__col">
                    <div class="participant__followers">
                        <label></label><br>
                        <label> Followers </label>
                    </div>
                </div>
                <div class="col-sm-2 info2__col">
                    <div class="participant__following">
                        <label class="followingss"></label><br>
                        <label> Following </label>
                    </div>
                </div>
                <div class="col-sm-1 setting__adapt">
                    <div class="participant__setting">
                        <span data-toggle="modal" data-target="#modal_participant" class="glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="invitation-modal-info" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal--invitation"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal modify user-->
        <div class="modal fade" id="modify-user" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h4 class="modal-title">Modify User</h4></center>
                    </div>
                    <div class="modal-body">
                        <p>Your user data has been successfully modified</p>
                    </div>
                    <div class="modal-footer" style="height:40px;">
                    <button type="button" id="accept_modify" data-dismiss="modal">Accept</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modify-password" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><h4 class="modal-title">Modify password</h4></center>
                    </div>
                    <div class="modal-body">
                    <div class="p__div">
                        <span class="p__span">Old Password: </span><input style="width: 30%" class="form-control" type="password" id="oldpass" placeholder="Old Password">
                    </div>
                    <div class="p__div">
                        <span class="p__span">New Password: </span><input style="width: 30%" class="form-control" type="password" id="newpass" placeholder="New Password">
                    </div>
                    <div class="p__div">
                        <span class="p__span">Confirm New Password: </span><input style="width: 30%" class="form-control" type="password" id="con--newpass" placeholder="Confirm New Password">
                    </div>
                    </div>
                    <div class="modal-footer" style="height:40px;">
                    <button type="button" id="accept_modify_password">Accept</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete-idea" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><h4 class="modal-title">Delete Idea</h4></center>
                    </div>
                    <div class="modal-body">
                        <h4>Sure You want to delete this idea?</h4>
                    </div>
                    <div class="modal-footer" style="height:40px;">
                    <button type="button" id="delete_idea">Accept</button>
                    <input hidden>
                    <button type="button" class="cancel--modal" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

    <div class="row participant__body">
        <div class="col-sm-6 participant__content">
            <div class="participant__invite">
                <div class="invite__header">
                    <p><img src="{{ url_for('static',filename='images/invite-icon.png') }}">Invite people to benefit together from Consensus</p>
                </div>
                <div class="invite__body">
                    <p>1. Suggestion tell them first all about Consensus and why you are using it going to user.</p>
                    <p>2. Type your contacts e-mail to send them an invitation to connect with you:</p>
                    <input type="text" value="{{ message.participant }}" hidden id="participant_email">
                    <textarea id="emails_input" placeholder="some e-mails here (example1@email.com, example2@email.com)"></textarea>
                    <input class="form-control invite__button" type="button" id="send_invitation-btn" value="Send Invitation">
                </div>
            </div>
            <div class="participant__follow">
            <ul class="nav nav-tabs">    
                <li class="active"><a data-toggle="tab" href="#home">Following</a></li>
                <li><a data-toggle="tab" href="#menu1">Followers</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane active addproposal--step2__div">
                  <ul id="following" class="addproposal--step2">
                    <!--
                    <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Emile</a> <br>Emile Godard </p></li>
                    -->
                  </ul>
                </div>
            <div  id="menu1" class="tab-pane addproposal--step2__div">
              <ul id="followers" class="addproposal--step2">
                <!--S
                <li><input class="checkbox check--followers" type="checkbox" name="check[]"><img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}"><p><a href="#">Emile</a> <br>Emile Godard </p></li>
                -->
              </ul>
            </div>
          </div>
          <div class="tabs__follow"> 
            <input id="follow-parti" class="form-control invite__button" style="margin-right: -35px;" type="button" value="Follow">
            <input id="unfollow-parti" class="form-control invite__button" type="button" value="Stop following">
          </div>
        </div>
        </div>


        <div class="col-sm-6 participant__newsfeed" id="newIdea" style="max-height: 900px;">
            
        </div>
        <div class="modal fade" id="invitation-modal-info" role="dialog">
                <div class="modal-dialog modal-sm" style="margin-top:100px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p id="modal--invitation"></p>
                        </div>
                </div>
            </div>
        </div>
   
    </div>
</div>
    <div id="modal_participant" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-cog" style="margin: 0 10px 0 10px;"></span>Participants</h4>
          </div>
          <div class="modal-body">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Edit your personal data</p><br>
                </div>
                <div class="col-xs-12">
                    <div class="col-sm-6">
                    <div class="p__div">
                        <span class="p__span">Full name: </span><input class="form-control" type="text" id="p_fullname" name="p_fullname" placeholder="Full name">
                    </div>
                    <div class="p__div">
                        <span class="p__span">Username: </span><input class="form-control" type="text" id="p_username" name="p_username" placeholder="Username">
                    </div>
                    <div class="p__div">
                        <span class="p__span">E-mail: </span><input class="form-control" type="text" id="p_email" name="p_email" placeholder="example@example.com">
                        <img class="p__mail-img" src="{{ url_for('static',filename='images/mail-icon.jpg') }}">
                    </div>
                    <div class="p__div">
                        <span class="p__span">Confirm E-mail: </span><input class="form-control" type="text" id="p_confirm-e" name="p_confirm-e" placeholder="example@example.com">
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cropme2" id="cropme_profile_edit"></div>
		        	    <span class="cropme_span_edit">
		        	        To change your profile image, <br>just click it!
		        	    </span>
		        	    <!--    
                        <div  class="input-group modal__participants">
                            <div id="image--space">
                                <img src="{{ url_for('static',filename='assets/profile/perfil-mediano.png') }}" class="new--user--icon--login" style="height: 65px;top: 10px;position: relative;">
                            </div>
                                <label class="input-group-btn">
                                  <i class="fa fa-info" aria-hidden="true"></i>
                                  <span class="btn" style="font-size: 11px;">
                                    Choose:<input type="file" style="display: none;" id="change-photo">
                                  </span>
                                </label>
                                <input style="height: 29px;top: -1px;" type="text" class="form-control" placeholder=".../Home/" readonly>
                                <br>
                        </div>
                        -->


                        <div class="p__div" style="margin-top: 28px;padding-left: 35px;">
                            <span class="p__span">Position:</span><input class="form-control" type="text" id="p_position" name="p_position" placeholder="Position">
                        </div>
                        <div class="p__div" style="padding-left: 35px;">
                            <span class="p__span">Group:</span><select class="form-control" id="p_group" name="p_group" placeholder="Group">Group
                            <option selected disabled value="0">Select...</option>
                            <option value="Governing Board">Governing Board</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Sales">Sales</option>
                            <option value="Technical">Technical</option>
                            <option value="Human Resources">Human Resources</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <center><button type="button" class="register--modal" data-toggle="modal" data-target="#modify-password">Update password</button></center>
                </div>
                <div class="col-xs-12">
                </br></br>
                    <br><p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Privacy options</p>
                </div>
                <div class="col-xs-12" style="padding-left: 35px;">
                    <input type="checkbox" name="Public_p" id="Public--profile"> Public profile: users will be able to look you up in a public list<br><br>
                    <input type="checkbox" name="Public_p" id="Supporting--proposals--visible"> Supporting proposals visible: your followers will see your name<br><br>
                    <input type="checkbox" name="Public_p" id="Rejecting--proposals--visible"> Rejecting proposals visible: your followers will see your name in the list of proposal oponents
                </div>
                
            </div>
            <div class="col-sm-12 modal-cancel" style="margin-top: 35px;">
                <button type="button" class="register--modal" id="modify--user" >Update info</button>
                <!--<button type="button" class="cancel--modal" data-dismiss="modal">Close</button>-->
           </div>
          </div>
        </div>
      </div>
</div>

<script src="{{ url_for('static',filename='js/participants.js') }}"></script>
{% endblock %}