{% extends 'new_template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home_template.css') }}">
<div id="participantsContainer">
    <div class="container__search--participants" style="margin-top: 8%;" hidden>
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group search__div--participants">
                            <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span>
                            <input  class="form-control" type="text" name="search" placeholder="Search..." required/ 
                              id="search-input-participant2"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End of Search Form -->            
        </div>
        
    </div>
    
    <div class="container__participants" style="margin-top: 6%; margin-bottom: 1%;">
        <h3 style="font-family: lato_bold;margin-bottom: -10px;margin-left: 40px;">Participants</h3>
        <div class="col-md-6 col-md-offset-3" style="margin-top: -2%;">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search">
                            <span class="glyphicon glyphicon-search search__icon--participants"></span>
                            <input class="form-control" type="text" name="search" placeholder="Search..." 
                              required id="search-input-participant" 
                              @keyup="ifExists($event.keyCode)" v-model="search_bar" />
                        </span>
                        <span class="input-group-btn" style="padding-right: 10px;">
                            <div class="back__button" hidden>
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                <span>Go Back</span>
                            </div>
                        </span>
                    </div>
                    <strong><span id="does-exist" hidden></span></strong>
                </div>
            </div>
            <!-- End of Search Form -->            
        </div>
    
        <div class="col-sm-10 col-sm-push-1 search__participant" hidden>   
            <p>Type name to search for public participants and full e-mail + search button for others. </p>
            <div class="addproposal--step__div"> 
                <ul id="id01" class="addproposal--step2">
                    <!-- TODO -->
       		        <div v-show="private_user_searched == true">   
   		                <div v-show="searched_error == true">
           		            <legend> <% searched_user.group %> </legend>
                            <li>
                                <img class="new--user--icon--login" :src="searched_user.profilepic_url">
                                <p>
                                    <a :href="'/participants'" v-if="searched_user.id == logged_user"><% searched_user.fullname %></a>
                                    <a :href="'/participants/' + searched_user.id" v-else><% searched_user.fullname %></a>
        	       		            <br><label> <% searched_user.position %> </label>
               		            </p>
        	       		        <input class="form-control invite__button" type="button" id="btn-follow" 
        	       		          v-if="searched_user.if_button_stop_following" 
        	       		          value="Stop Following"
        	       		          @click="followUnfollowPublicParticipant(searched_user.id,0,$event,1)">
        	       		        <input class="form-control invite__button" type="button" id="btn-follow" 
        	       		          v-if="searched_user.if_button_follow" value="Follow"
        	       		          @click="followUnfollowPublicParticipant(searched_user.id,0,$event,1)">
               		        </li>
           		        </div>
           		        <div v-show="searched_error == false">
           		            <legend> 
           		                Email <strong><% search_bar %></strong> does not exists. 
       		                </legend>
   		                </div>
       		        </div>
       		        <div v-show="private_user_searched == false">
                        <div v-for="group in myGroups">
                            <legend class="legend__board" :data="group.index"> <% group.label %> </legend>
                            <li v-for="(p_participant, index) in public_participants" 
                              v-if="p_participant.group == group.index"
                              v-show="p_participant.searched">
                                <img class="new--user--icon--login" :src="p_participant.profilepic_url">
                                <p>
                                    
                                    <a :href="'/participants'" v-if="p_participant.email == logged_user"><% p_participant.fullname %></a>
                                    <a :href="'/participants/' + p_participant.email" v-else><% p_participant.fullname %></a>
        	       		            <br><label> <% p_participant.position %> </label>
               		            </p>
        	       		        <input class="form-control invite__button" type="button" id="btn-follow" 
        	       		          v-if="p_participant.if_following" value="Stop Following"
        	       		          @click="followUnfollowPublicParticipant(p_participant.email,index,$event,0)">
        	       		        <input class="form-control invite__button" type="button" id="btn-follow" 
        	       		          v-else value="Follow"
        	       		          @click="followUnfollowPublicParticipant(p_participant.email,index,$event,0)">
               		        </li>
           		        </div>
       		        </div>
                    <div class="spinner" v-if="loading_users">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                    </div> 
                </ul>
            </div>
        </div>
    
        <div class="participant__general">
            <div class="row participant__info"> 
                <div class="row" style="max-width: 1180px;">
                    <div class="col-sm-2 profile__col">
                        <div class="participant__profile--pic">
                            <div class="profile--picture">
                                <img :src="participant.profilepic_url">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 info__col" style="padding:0;">
                        <div class="participant__name">
                            <a href="#"><% participant.username %></a><br>
                            <label><% participant.fullname %></label>
                        </div>
                    </div>
                    <div class="col-sm-3 info2__col info2__col--first">
                        <div class="participant__active--p">
                            <label class="activess"><% participant.ideas_num %></label><br>
                            <label> Active publications </label>
                        </div>
                    </div>
                    <div class="col-sm-2 info2__col">
                        <div class="participant__followers">
                            <label><% participant.followers_num %></label><br>
                            <label> Followers </label>
                        </div>
                    </div>
                    <div class="col-sm-2 info2__col">
                        <div class="participant__following">
                            <label class="followingss"><% participant.followings_num %></label><br>
                            <label> Following </label>
                        </div>
                    </div>
                    <div class="col-sm-1 setting__adapt" @click="editParticipant">
                        <div class="participant__setting">
                            <span data-toggle="modal" data-target="#modal_participant" class="glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal -->
            <div class="modal fade" id="invitation-modal-info" role="dialog">
                <div class="modal-dialog modal-sm" style="margin-top:100px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p id="modal--invitation"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal modify user-->
            <div class="modal fade" id="modify-user" role="dialog">
                <div class="modal-dialog modal-sm" style="margin-top:100px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <center><h4 class="modal-title">Modify User</h4></center>
                        </div>
                        <div class="modal-body">
                            <p>Your user data has been successfully modified</p>
                        </div>
                        <div class="modal-footer" style="height:40px;">
                        <button type="button" id="accept_modify" data-dismiss="modal">Accept</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modify-password" role="dialog">
                <div class="modal-dialog modal-sm" style="margin-top:100px;">
                    <div class="modal-content" style="top: -8px;position:relative;width: 400px;">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center><h4 class="modal-title">Modify password</h4></center>
                        </div>
                        <div class="modal-body">
                        <div class="p__div">
                            <span class="p__span">Old Password: </span><input style="width: 48%" class="form-control" type="password" id="oldpass" placeholder="Old Password">
                        </div>
                        <div class="p__div">
                            <span class="p__span">New Password: </span><input style="width: 48%" class="form-control" type="password" id="newpass" placeholder="New Password">
                        </div>
                        <div class="p__div" id="last--div">
                            <span class="p__span">Confirm New Password: </span><input style="width: 48%" class="form-control" type="password" id="con--newpass" placeholder="Confirm New Password">
                        </div>
                        </div>
                        <div class="modal-footer" style="height:40px;">
                        <button type="button" id="accept_modify_password">Accept</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="delete-idea" role="dialog">
                <div class="modal-dialog modal-sm" style="margin-top:100px;">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center><h4 class="modal-title">Delete Idea</h4></center>
                        </div>
                        <div class="modal-body">
                            <h4>Sure You want to delete this idea?</h4>
                        </div>
                        <div class="modal-footer" style="height:40px;padding:9px;">
                        <button type="button" id="delete_idea">Accept</button>
                        <button type="button" class="cancel--modal" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
    
        <div class="row participant__body">
            <div class="col-sm-6 participant__content">
                <div class="participant__invite">
                    <div class="invite__header">
                        <p><img src="{{ url_for('static',filename='images/invite-icon.png') }}">Invite people to benefit together from Consensus</p>
                    </div>
                    <div class="invite__body">
                        <p>1. Suggestion: tell them first about Consensus and why you are using it or are going to use it.</p>
                        <p>2. Type your contact(s) e-mail(s) to send them an invitation to connect with you:</p>
                        <input type="text" value="{{ message.participant }}" hidden id="participant_email">
                        <textarea id="emails_input" placeholder="example1@email.com, example2@email.com"></textarea>
                        <input class="form-control invite__button" type="button" id="send_invitation-btn" value="Send Invitation">
                    </div>
                </div>
                <div class="participant__follow">
                <ul class="nav nav-tabs">    
                    <li class="active"><a data-toggle="tab" href="#home">Following</a></li>
                    <li><a data-toggle="tab" href="#menu1">Followers</a></li>
                </ul>
    
                <div class="tab-content">
                    <div id="home" class="tab-pane active addproposal--step2__div">
                        <center class="custom--messages" v-if="!followings.ifallowed"><h3 >User private</h3></center>
                        <center class="custom--messages" v-else-if="participant.followings_num == 0 && current_user != logged_user">
                            <h3 >This user is not following any participant</h3>
                        </center>
                        <center class="custom--messages" v-else-if="participant.followings_num == 0 && current_user == logged_user">
                            <h3 >You have no followings</h3>
                        </center>
                    
                        <ul id="following" class="addproposal--step2">
                            <li v-for="(following, index_f) in followings.data">
            					<img class="new--user--icon--login" :src="following.profilepic_url">
            					<p>
        					        <a :href="'/participants/'+following.email"><% following.username %></a>
                                    <br><% following.fullname %>
        					    </p>
                                <input id="unfollow-parti" class="form-control invite__button" type="button" 
                                  value="Stop following" @click="stopFollowingParticipant(following.email)"
                                  v-if="following.if_button_stop_following">
    					    </li>
                        </ul>
                    </div>
                    <div  id="menu1" class="tab-pane addproposal--step2__div">
                        <center class="custom--messages" v-if="!followers.ifallowed"><h3 >User private</h3></center>
                        <center class="custom--messages" v-else-if="participant.followers_num == 0 && current_user != logged_user">
                            <h3 >This user has no followers</h3>
                        </center>
                        <center class="custom--messages" v-else-if="participant.followers_num == 0 && current_user == logged_user">
                            <h3 >You have no followers</h3>
                        </center>
                        
                        <ul id="followers" class="addproposal--step2">
                            <li v-for="(follower, index_f) in followers.data">
            					<img class="new--user--icon--login" :src="follower.profilepic_url">
            					<p>
        					        <a :href="'/participants/'+follower.email"><% follower.username %></a>
                                    <br><% follower.fullname %>
        					    </p>
                                <input id="follow-parti" class="form-control invite__button" type="button" 
                                  value="Follow" @click="followParticipant(follower.email)" 
                                  v-if="follower.if_button_follow">
                                <input id="unfollow-parti" class="form-control invite__button" type="button" 
                                  value="Stop following" @click="stopFollowingParticipant(follower.email)" 
                                  v-if="follower.if_button_stop_following">
    					    </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    
    
            <div class="col-sm-6 participant__newsfeed" id="newIdea" style="max-height: 885px;">
                
                <center v-if="!ifallowed"><h3>User private</h3></center>
                <center v-else-if="participant.ideas_num == 0 && current_user == logged_user"><h3>You have no active publications</h3></center>
                <center v-else-if="participant.ideas_num == 0 && current_user != logged_user">
                    <h3>This user has no active publications</h3>
                </center>
                
                <div class="col-sm-12" style="margin-top:25px;" v-for="(idea, index) in ideas">
                    <!-- IF AUTHOR PUBLIC -->
                    <div class="row home--header home--header2" v-if="idea.if_author_public">
                        <div class="col-sm-1" style="padding-left: 0px;">
    						<div class="home--profile--picture">
    						    <img class="img-circle new--user--icon--login" id="img-modify" :src="idea.author_profilepic_url">
    					    </div>
    				    </div>
    				    <div class="col-sm-3 home--name">
    						<a :href="'/participants'" v-if="idea.author_email == logged_user"><% idea.author_username %></a>
	                        <a :href="'/participants/' + idea.author_email" v-else><% idea.author_username %></a>
    					</div>
    					<div class="col-sm-3 newsfeed--duration participant__duration">
    					    <p>
    					        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">
    						    <p class="duration--info"><% idea.duration %></p>
    					    </p>
    				    </div>
    				    <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
    				        <div class="progress home--progress home--new--bars">
    						    <div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" 
    						      aria-valuemin="0" aria-valuemax="100" 
    						      v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'"></div>
    					    </div>
    						<div class="progress home--progress2 home--new--bars" v-if="idea.volunteers_goal_num > 0">
    						    <div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" 
    						      aria-valuemin="0" aria-valuemax="100" 
    						      v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'"></div>
    					    </div>
    				    </div>
    				    <div class="col-sm-3 newsfeed--goals newsfeed--goals2" style="'+bars_wo_user+'">
    				        <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
    	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
    	                        <p v-if="idea.volunteers_goal_num > 0" style="margin: -4px 0 0 0;">
    	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
    	                        </p><br>
    	                    </p>
    					</div>
    				</div>
    				
    				<!-- IF ANONYMOUS AUTHOR -->
    				<div class="row home--header home--header2" v-else>
    				    <div class="col-sm-3 newsfeed--duration participant__duration">
    					    <p>
    					        <img style="width: 15px;position: relative;top: -3px;" src="/static/images/clock-icon.png">
    						    <p class="duration--info"><% idea.duration %></p>
    					    </p>
    				    </div>
                        <div class="col-sm-1" style="padding-left: 0px;"></div>
    				    <div class="col-sm-3 home--name"></div>
    				    <div class="col-sm-3 home--charge" v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--progress__bar' : '']">
    				        <div class="progress home--progress home--new--bars">
    						    <div class="progress-bar newsfeed--bar" role="progressbar" aria-valuenow="50" 
    						      aria-valuemin="0" aria-valuemax="100" 
    						      v-bind:style="'width:'+idea.supporters_num*100/idea.supporters_goal_num+'%;'"></div>
    					    </div>
    						<div class="progress home--progress2 home--new--bars" v-if="idea.volunteers_goal_num > 0">
    						    <div class="progress-bar newsfeed--bar2" role="progressbar" aria-valuenow="50" 
    						      aria-valuemin="0" aria-valuemax="100" 
    						      v-bind:style="'width:'+idea.volunteers_num*100/idea.volunteers_goal_num+'%;'"></div>
    					    </div>
    				    </div>
    				    <div class="col-sm-3 newsfeed--goals newsfeed--goals2" style="'+bars_wo_user+'">
    				        <p v-bind:class="[idea.volunteers_goal_num == 0 ? 'one--text__bar' : '']"> 
    	                        <% idea.supporters_num %>/<% idea.supporters_goal_num %> supporters<br>
    	                        <p v-if="idea.volunteers_goal_num > 0" style="margin: -4px 0 0 0;">
    	                            <% idea.volunteers_num %>/<% idea.volunteers_goal_num %> volunteers
    	                        </p><br>
    	                    </p>
    					</div>
    				</div>
    				
    				<div class="row home--proposals--body home--proposals--body2" style="padding-top:47.40%" 
    				  v-bind:style="'background-image: url('+idea.image_url+')'">
    				    <div class="col-sm-12 concern__div">
    				        <div class="col-sm-11 newsfeed--problem"><% idea.concern %></div>
    			        </div>
    			        <div class="col-sm-12">
    					    <div class="col-sm-11 col-sm-offset-1 newsfeed--proposal"><% idea.proposal %></div>
    				    </div>
    			    </div> 
    			    <input type="hidden" value="" id="idea__id">
    				<div class="row newsfeed--footer">
    			        <div class="col-sm-12" style="padding-right: 0px; padding-left: 0px;">
    				        <div class="col-sm-9 newsfeed--support" style="padding-right:0;padding-left:30px;">
    				            <input type="text" value="" id="percent" hidden>
    				            <div class="input--percent">
    				                <label> Support Rate: <% idea.support_rate %>% </label>
    			                </div>
    		                </div>
    				        <div class="col-sm-1 redflag--img">
    			                <img class="redflag__home" src="/static/images/redflag.png" @click="showRedFlagModal(index,$event)">
    		                </div>
    				        <div class="col-sm-2 neewsfeed--moreinfo" style="float:right;">
    				            <input type="button" name="more-info" class="home--button" style="margin-left: -6px!important;"
    				              v-on:click="showMoreInfoModal(index)">
    			            </div>
    			            <div id="more--info--modal" class="more__info--participant" 
    			              hidden :info="index" style="width: 535px!important;">
    			                <p>
                                    <h4>  More information about the problem: </h4> 
    	                            <% idea.moreinfo_concern %></br></br>
    	                            <h4> More information about the proposal: </h4>
    	                            <% idea.moreinfo_proposal %>
    		                    </p>
    	                    </div>
                        </div>
                    </div>
                    
                    <div class="row home--share">
                    	<div class="col-sm-8 home--share--icons">
    						<div class="col-sm-6" style="padding:10px 8px;"> 
    							
    							<div id="rejected" class="home--share--button" v-if="!ifself"
    							  :class="idea.vote_type == 'rejected' ? 'rejected--voted' : ''"
    							  @click="voteIdea('rejected',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,index)">
    							</div>
    							
      							<div id="supported" class="home--share--button" v-if="!ifself"
      							  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,0) ? 'supported--voted' : ''"
      							  @click="voteIdea('supported',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,index)">
      						  	</div>
      						  	
                    			<div id="supported-plus" class="home--share--button " 
                    			  v-if="idea.volunteers_goal_num > 0 && !ifself"
                    			  :class="showHoverButton(idea.vote_type,idea.vote_ifvolunteered,1) ? 'supported__plus--voted' : ''"
                			  	  @click="voteIdea('supported-plus',idea.proposal,idea.vote_type,idea.vote_ifvolunteered,index)">
                    			</div>
                			  	
                			  	<div class="edit-div" v-if="ifself">
                			  	    <span class="glyphicon glyphicon-edit edit" @click="editIdea(index)" :index="index"></span>
                			  	</div> 
                			  	<div class="trash-div" v-if="ifself">
    	    			            <span class="glyphicon glyphicon-trash trash" @click="deleteIdea(index)"></span>
                			  	</div>
                			</div>
            			</div>
    				</div>   
    	            <div class="row newsfeed--persons " style="left: -20px;width: 106%;">
    	                <div class="col-sm-12">
    	                    <div class="col-sm-1" style="padding:0;">
    	                        <img style="width:25px;" src="/static/images/check-hover.png">
    	                    </div>
    	                    <div class="col-sm-11 newsfeed--likes">
    	                        <ul class="ul--liked">
    	                            <a :href="'/participants' + (supporter.email == 'user' ? '' : '/' + supporter.email)" 
    	                              v-for="supporter in idea.identified_supporters">
    	                                <li><% supporter.username %></li>
    	                            </a>
    	                            <a href="#" class="last--liked"><li><% idea.unidentified_supporters_text %></li></a>
    	                        </ul>
    	                    </div>
    	                </div>
    	                <div class="col-sm-12">
    	                    <div class="col-sm-1" style="padding:0;">
    	                        <img style="width:25px;" src="/static/images/reject-hover.png">
    	                    </div>
    	                    <div class="col-sm-11 newsfeed--likes">
    	                        <ul class="ul--liked">
    	                            <a :href="'/participants' + (rejector.email == 'user' ? '' : '/' + rejector.email)" 
    	                              v-for="rejector in idea.identified_rejectors">
    	                                <li><% rejector.username %></li>
    	                            </a>
    	                            <a href="#" class="last--liked"><li><% idea.unidentified_rejectors_text %></li></a>
    	                        </ul>
    	                    </div>
    	                </div>
    	            </div>
                </div>	
            </div>
            
            
            <div class="modal fade" id="invitation-modal-info" role="dialog">
                    <div class="modal-dialog modal-sm" style="margin-top:100px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p id="modal--invitation"></p>
                            </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
        <div id="modal_participant" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-cog" style="margin: 0 10px 0 10px;"></span>Participants</h4>
              </div>
              <div class="modal-body">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Edit your personal data</p><br>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-sm-6">
                            <div class="p__div">
                                <span class="p__span">Full name: </span>
                                <input class="form-control" type="text" id="p_fullname" name="p_fullname" placeholder="Full name" :value="user.fullname">
                            </div>
                            <div class="p__div">
                                <span class="p__span">Username: </span>
                                <input class="form-control" type="text" id="p_username" name="p_username" placeholder="Username" 
                                  maxlength="14" :value="user.username">
                            </div>
                            <div class="p__div">
                                <span class="p__span">E-mail: </span>
                                <input class="form-control" type="text" id="p_email" name="p_email" 
                                  placeholder="example@example.com" :value="user.email">
                                <img class="p__mail-img" src="{{ url_for('static',filename='images/mail-icon.jpg') }}">
                            </div>
                            <div class="p__div">
                                <span class="p__span">Confirm E-mail: </span>
                                <input class="form-control" type="text" id="p_confirm-e" name="p_confirm-e" 
                                  placeholder="example@example.com" :value="user.email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="cropme2" id="cropme_profile_edit">
                                <img style="with:100px;height:100px;" :src="user.profilepic_url">
                            </div>
    		        	    <span class="cropme_span_edit">
    		        	        To change your profile image, <br>just click it!
    		        	    </span>
    
                            <div class="p__div" style="margin-top: 28px;padding-left: 35px;">
                                <span class="p__span">Position:</span>
                                <input class="form-control" type="text" id="p_position" name="p_position" 
                                  placeholder="Position" :value="user.position">
                            </div>
                            <div class="p__div" style="padding-left: 35px;">
                                <span class="p__span">Group:</span>
                                <select class="form-control" id="p_group" name="p_group" placeholder="Group">Group
                                    <option v-for="(group, _index) in myGroups" :value="group.index" :selected="group.index == user.group"> 
                                        <% group.label %> 
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <center><button type="button" class="update--password" data-toggle="modal" data-target="#modify-password"></button></center>
                    </div>
                    <div class="col-xs-12">
                    </br></br>
                        <br><p class="p__titles--p"><i class="fa fa-sort-desc p_down-icon" aria-hidden="true"></i>Privacy options</p>
                    </div>
                    <div class="col-xs-12" style="padding-left: 35px;">
                        <input type="checkbox" name="Public_p" id="Public--profile" :checked="user.ifpublicprofile"> 
                          Public profile: users will be able to look you up in a public list<br><br>
                        <input type="checkbox" name="Public_p" id="Supporting--proposals--visible" :checked="user.ifsupportingproposalsvisible"> 
                          Supporting proposals visible: your followers will see your name<br><br>
                        <input type="checkbox" name="Public_p" id="Rejecting--proposals--visible" :checked="user.ifrejectingproposalsvisible"> 
                          Rejecting proposals visible: your followers will see your name in the list of proposal oponents
                    </div>
                    
                </div>
                <div class="col-sm-12 modal-cancel" style="margin-top: 35px;">
                    <button type="button" class="register--modal update--profile" id="modify--user" >Update info</button>
                    <!--<button type="button" class="cancel--modal" data-dismiss="modal">Close</button>-->
               </div>
              </div>
            </div>
          </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ url_for('static',filename='js/participants.js') }}"></script>
{% endblock %}