{% extends 'new_template.html' %}
{% block content %}

<input type="hidden" id="page" value="search">
<div class="container__search--participants" style="margin-top: 8%;">
    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group search__div--participants">
                        <span class="span__search"><span class="glyphicon glyphicon-search search__icon--participants"></span><input  class="form-control"  oninput="w3.filterHTML('#id01', 'ul#id01 li', this.value)" type="text" name="search" placeholder="Search..." required/ id="search-input-participant"></span>
                        
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <!-- End of Search Form -->            
    </div>
    <div class="col-sm-10 col-sm-push-1 search__participant"> 
        <p>Type name to search for public participants and full e-mail + search button for others. </p>
        <div class="addproposal--step__div"> 
            <div class="spinner" hidden>
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div> 
            <ul id="id01" class="addproposal--step2">
            <legend>Executive board</legend>
                
            </ul>
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='js/participants.js') }}"></script>
{% endblock %}