
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/signin.css') }}" rel="stylesheet">

   <script src="{{ url_for('static',filename='js/jquery-1.9.0.js') }}"></script>
   <script src="{{ url_for('static',filename='js/script.js')}}"></script>
   
  </head>

  <body>

    <div style="background-image: url({{ url_for('static',filename='images/header_blue-green_color.png') }}); height: 100px; width: 800px;">
        <h2>Consensus - Making ideas happen together </h2>
    </div>

    <div class="container">

      <form class="form-signin"  role="form">
        {% if host_email %}
            <h2 class="form-signin-heading">Please Sign Up to join with <span class="host_email_placeholder"> </span> </h2>
            <script>
            	$.get( "/getFullNameByEmail/{{ host_email }}", function( data ) {
  	                $( ".host_email_placeholder" ).html( data );
	            });
            </script>
        {% else %}
            <h2 class="form-signin-heading">Please Sign Up</h2>
        {% endif %}
          <input id="txtfullname" name="fullname" class="form-control" placeholder="Full Name" required autofocus>
          <input id="txtusername" name="username" class="form-control" placeholder="Chosen user name" required>
          <input type="email" id="txtemail" name="email" class="form-control" placeholder="Email address" required>
          <input type="password" id="txtpassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
      </form>



    </div> <!-- /container -->

    <script>var host_email = "{{ host_email }}";</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

