{% extends 'new_template.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home_template.css') }}">
<div class="row home--content--logged">
	
	
	<div class="spinner" style="right:50%;top:25%;position:absolute;">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
	
	<div class="container col-sm-12"  id="topten--proposals" hidden>
		
	</div>
	
</div>
<script src="{{ url_for('static',filename='js/topten.js') }}"></script>
{% endblock %}