
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"-->

    <title>User Feed</title>

   <script src="{{ url_for('static',filename='js/jquery-1.9.0.js') }}"></script>
   <script src="{{ url_for('static',filename='js/script.js')}}"></script>
   
  </head>

  <body>

    <div style="background-image: url({{ url_for('static',filename='images/header_blue-green_color.png') }}); height: 100px; width: 800px;">
        <h2>Consensus - Making ideas happen together </h2>
    </div>

    <div class="container">

            <script>
            	$.get( "//{{ host_email }}", function( data ) {
  	                $( ".host_email_placeholder" ).html( data );
	            });
            </script>
        div class="photo"


    </div> <!-- /container -->

  </body>
</html>

